<extend name="Public/base" />

<block name="body">
        <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
        <div class="tab-content">
            <!-- 数据列表 -->
            <form id="form" action="{:addons_url('Push://Admin:/send_push')}" method="post" class="form-horizontal">
                <div class="tab-pane in tab1">
                        <div class="form-item cf">
                            <label class="item-label">推送标题</label>
                            <div class="controls">
                                <input type="text" class="text input-large" name="title" value="" />
                            </div>
                        </div>
                        <style>
                            .product_obj{margin-right:15px; display:inline-block;}
                            .product_obj img{height:80px;}
                            .product_obj p{margin:5px 0;}
                        </style>
                        <div class="form-item cf">
                            <label class="item-label">关联方式</label>
                            <div class="controls">
                                <select name="bind_type">
                                    <option value="">请选择</option>
                                    <volist name="bind_config" id="lv">
                                        <option value="{$key}" <eq name="key" value="$data[bind_type]">selected</eq> data-url="{:addons_url('Push://Admin:/get_form_lists', array('type' => $key))}">{$lv}</option>
                                    </volist>
                                </select>
                                <a href="javascript:;" id="select_product" class="btn" data-url="">选择关联内容</a>
                            </div>
                        </div>
                        <div class="form-item cf select_type_div module_type">
                            <label class="item-label">已关联的内容</label>
                            <div class="controls">
                                <div id="action_div">
                                </div>
                                <p id="active_msg">未关联内容~</p>
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">推送环境</label>
                            <div class="controls">
                                <input checked="checked" type="radio" name="env" value="0" /> 测试
                                <input type="radio" name="env" value="1" /> 正式
                            </div>
                        </div>                        
                        <div class="form-item cf">
                            <label class="item-label">推送设备</label>
                            <div class="controls">
                                <input checked="checked" type="radio" name="device" value="0" /> 所有
                                <input type="radio" name="device" value="1" /> IOS
                                <input type="radio" name="device" value="2" /> Android
                            </div>
                        </div>  
                </div>
                <div class="form-item cf">
                    <button id="submit" class="btn submit-btn ajax-post hidden" target-form="form-horizontal" type="submit">确 定</button>
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </form>
        </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/artDialog/lib/sea.js"></script>
    <script type="text/javascript">
            seajs.config({
              alias: {
                "jquery": "jquery-1.10.2.js"
              }
            });
            seajs.use(['__STATIC__/artDialog/src/dialog-plus'], function (dialog) {
                window.dialog = dialog;
                
                $('[name="bind_type"]').on('change', function(){
                    var val = $(this).val();
                    
                    $('#action_div').html('');
                    $('.select_type_div').hide();
                    $('#select_product').hide();
                    if(val != ''){
                        if(val == 'link'){
                            $('.link_type').show();
                        }else if(val != ''){
                            $('.module_type').show();
                            $('#active_msg').show();
                            $('#select_product').show();
                            $('#select_product').click();
                        }
                        $('#data_div').show();
                    }else{
                        $('#data_div').hide();
                    }
                    
                });
                $('#select_product').on('click', function(){
                    var bind_type = $('[name="bind_type"]').val();
                    if(!bind_type){
                        alert('请选择关联模块');
                        return false;
                    }
                    var url = $('[name="bind_type"] option:selected').data('url');
                    
                    top.dialog({
                            id: '_lists'+bind_type,
                            title: '关联内容列表',
                            url: url,
                            width: 800,
                            height:530,
                            onclose: function () {
                                var data = this.returnValue;
                                
                                if (data.ids) {
                                    $('[name="action_ids"]').val(data.ids);
                                }
                                var l = '';
                                $.each(data.data, function(x, y){
                                    l += '<div class="product_obj">'+
                                        '    <p>'+(y.pic ? '<img src="'+y.pic+'" /><br>' : '') + '<a href="javascript:;" data-id="'+y.id+'">'+y.title+'</a></p>'+
                                        '    <p><a href="javascript:;" data-id="'+y.id+'" class="btn del">删除</a></p>'+
                                        '    <input type="hidden" name="bind_id" value="'+y.id+'" />'+
                                        '</div>';
                                    if($('[name="title"]').val() == ''){
                                        $('[name="title"]').val(y.title);
                                    }
                                });
                                if(l){
                                    $('#active_msg').hide();
                                    $('#action_div').html(l);
                                    $('.module_type').show();
                                }
                            },
                    })
                    .showModal();
                })
            });
            $('#action_div').delegate('.del', 'click',function(){
                if(confirm('确定要删除吗？')){
                    $(this).parents('.product_obj').remove();
                    if($('#action_div').find('.product_obj').length == 0){
                        $('#active_msg').show();
                    }
                }
            });
    </script>
	<script type="text/javascript">
		$(function(){
                    highlight_subnav('{:addons_url('Push://Admin:/send_push')}');
                    //全选节点
                    $('.check-all').on('change',function(){
                        $('.ids').prop('checked',this.checked);
                    });showTab();
		})
                
	</script>
</block>