<extend name="Public/base" />

<block name="body">
        <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
        <ul class="tab-nav nav">
            <li class="current" data-tab="tab1"><a href="javascript:void(0);">基础</a></li>
        </ul>
        <div class="tab-content">
            <!-- 数据列表 -->
            <form id="form" action="{:addons_url('Position://PositionAdmin:/update')}" method="post" class="form-horizontal">
                <div class="tab-pane in tab1">
                        <div class="form-item cf">
                            <label class="item-label">标题</label>
                            <div class="controls">
                                <input type="text" class="text input-large" name="title" value="{$data.title}" />
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">标识<span class="check-tips">（请保持唯一，保存后不可修改）</span></label>
                            <div class="controls">
                                <input type="text" class="text input-min" name="name" value="{$data.name}" />
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">最多调用条数<span class="check-tips">（必须大于0）</span></label>
                            <div class="controls">
                                <input type="text" class="text input-mini" name="show_num" value="{$data.show_num}" />
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">备注说明<span class="check-tips">（描述当前推荐位）</span></label>
                            <div class="controls">
                                <textarea name="remark" class="textarea input-large">{$data.remark}</textarea>
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">最后更新时间<span class="check-tips"></span></label>
                            <div class="controls">
                                {$data.update_time|time_format='Y-m-d H:i'}
                            </div>
                        </div>
                </div>
                <div class="form-item cf">
                    <button id="submit" class="btn submit-btn ajax-post hidden" target-form="form-horizontal" type="submit">确 定</button>
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    <input type="hidden" value="{$data.id}" name="id" />
                </div>
            </form>
        </div>
</block>
<block name="script">
	<script type="text/javascript">
		$(function(){
                    highlight_subnav('{:addons_url('Position://PositionAdmin:/index')}');
                    //全选节点
                    $('.check-all').on('change',function(){
                        $('.ids').prop('checked',this.checked);
                    });showTab();
		})
                
	</script>
</block>