<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="keywords" content="神秘商店" />
    <meta name="description" content="神秘商店" />
    <script src="__JS__/vendor.js?t={:date('ymdHi')}"></script>
    <script src="__JS__/app.js?t={:date('ymdHi')}"></script>    
    <eq name="APP_TYPE" value="alipay">
    <php>
        $_default_share = share_config('alipay_default_share');
    </php>
    <script type="text/javascript">
        var shareTitle = "{$_default_share.title|default='神秘商店'}",
            shareDesc = "{$_default_share.desc|default=''}",
            shareImg = "{$_default_share.cover_id|get_cover_url}",
            shareLink = "{$_default_share.url|default=''}";
    </script>
    <meta name="Alipay:title" content="{$_default_share.title|default='神秘商店'}"/>
    <meta name="Alipay:imgUrl" content="{$_default_share.cover_id|get_cover_url}"/>
    <meta name="Alipay:desc" content="{$_default_share.desc}"/>
    </eq>   
	<title>神秘商店</title>
	<script type="text/javascript" src="/Public/res/Wap/base/js/rem.js?v=3"></script>
	<link rel="stylesheet" href="/Public/res/Wap/base/css/base.css"/>
	<link rel="stylesheet" href="/Public/res/Wap/worldcup/css/index.css?v=7"/>
</head>
<body>
<div class="site-container">
	<section class="site-index">
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg01.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg02.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg03.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg04.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg0555.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg0666.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg07.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg08.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<ul id="jq-pdt" class="wrap-pos wrap-pdt">
				<li data-id="1" data-type="酒" data-src="/Public/res/Wap/worldcup/img/pdtview01.png">
					<img src="/Public/res/Wap/worldcup/img/pdt01.png">
					<p data-name="百威啤酒">百威啤酒</p>
				</li>
				<li data-id="2" data-type="酒" data-src="/Public/res/Wap/worldcup/img/pdtview020.png">
					<img src="/Public/res/Wap/worldcup/img/pdt020.png">
					<p data-name="福佳白啤酒">福佳白啤酒</p>
				</li>
				<li data-id="3" data-type="饮料" data-src="/Public/res/Wap/worldcup/img/pdtview030.png">
					<img src="/Public/res/Wap/worldcup/img/pdt030.png">
					<p data-name="维他柠檬茶">维他柠檬茶</p>
				</li>
				<li data-id="4" data-type="酒" data-src="/Public/res/Wap/worldcup/img/pdtview04.png">
					<img src="/Public/res/Wap/worldcup/img/pdt04.png">
					<p data-name="科罗娜啤酒">科罗娜啤酒</p>
				</li>
				<li data-id="5" data-type="饮料" data-src="/Public/res/Wap/worldcup/img/pdtview050.png">
					<img src="/Public/res/Wap/worldcup/img/pdt050.png">
					<p data-name="可口可乐">可口可乐</p>
				</li>
				<li data-id="6" data-type="膨化食品" data-src="/Public/res/Wap/worldcup/img/pdtview06.png">
					<img src="/Public/res/Wap/worldcup/img/pdt06.png">
					<p data-name="乐事薯片">乐事薯片</p>
				</li>
				<li data-id="7" data-type="饮料" data-src="/Public/res/Wap/worldcup/img/pdtview07.png">
					<img src="/Public/res/Wap/worldcup/img/pdt07.png">
					<p data-name="燃力士">燃力士</p>
				</li>
				<li data-id="8" data-type="酒" data-src="/Public/res/Wap/worldcup/img/pdtview080.png">
					<img src="/Public/res/Wap/worldcup/img/pdt080.png">
					<p data-name="1664白啤酒">1664白啤酒</p>
				</li>
			</ul>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg09.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-money" class="wrap-pos wrap-money">
				<h1>¥<span>0.00</span></h1>
			</div>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg10.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-remark" class="wrap-pos wrap-des">
				<h1>奖池规则</h1><i></i>
				1.世界杯期间 <span>(6.13-7.16)</span>，凡<span>购买指定的</span>8款<span>活动商品</span>，其单价<span>销售额的10%</span>将计入奖金池，
				作为世界杯总决赛的<span>竞猜奖金</span>，由<span>猜中冠军球队<span>的用户</span>平分</span>总奖金；<i></i>
				2.<span>奖金累积</span>截止时间<span>7月16号 00：30。</span>
			</div><span>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg11.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-time" class="wrap-pos wrap-time">奖池积累所剩时间: <span>00:00:00</span></div>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg12.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg13.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<ul id="jq-team" class="wrap-pos wrap-team">
				<li><img src="/Public/res/Wap/worldcup/img/team01.png" class="wrap-team-img">
					<p>竞猜的次数×<span>0</span></p>
					<a href="javascript:void(0);"><img src="/Public/res/Wap/worldcup/img/team033.jpg"></a>
				</li>
				<li><img src="/Public/res/Wap/worldcup/img/team02.png" class="wrap-team-img">
					<p>竞猜的次数×<span>0</span></p>
					<a href="javascript:void(0);"><img src="/Public/res/Wap/worldcup/img/team033.jpg"></a>
				</li>
			</ul>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg14.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg155.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg16.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-total" class="wrap-pos wrap-total">
				<p><span>0</span> 次</p>
				<a href="/Wap/WorldCup/login.html"><img src="/Public/res/Wap/worldcup/img/total01.png"></a>
			</div>
		</div>
		<div class="wrap-box wrap-block">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg170.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-remark" class="wrap-pos wrap-des wrap-des2">
				<h1>竞猜规则</h1><i></i>
				1.<span>7月06号0:00</span> -- <span>7月15号22:45</span> 期间凡在神秘商店APP<span>私人财产</span>中<span>充值100元</span>的用户即可获得<span>一次竞猜机会</span>，(<span>充值500元</span>可获得<span>7次竞猜机会！</span>)；<i></i>
				2.<span>充值获得</span>竞猜机会后，可在<span>APP活动页面</span>选择你心目中的冠军球队，多次充值<span>可多次同时竞猜</span>；<i></i>
				3.<span>7月13号0:00</span>即可开始竞猜，<span>竞猜截止时间</span>为<span>7月15号 22:45</span>；<i></i>
				4.竞猜结果公布时间：以<span>比赛结束时间</span>为准  预计 <span>7月16日 01:30</span>。<i></i>
				注：竞猜所得奖金将转入中奖者在神秘商店的账户余额并不可提现，只可用于线下门店消费使用。
			</div>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg18.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg19.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-time2" class="wrap-pos wrap-time wrap-time2">竞猜所剩时间: <span>00:00:00</span></div>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg20.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg21.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
			<div id="jq-result" class="wrap-pos wrap-result">
				<p class="wrap-img wrap-prize"><img data-src="/Public/res/Wap/worldcup/img/result01.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
				<span>中奖队伍</span>
				<p class="wrap-img wrap-name"><img data-src="/Public/res/Wap/worldcup/img/result02.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
				<span>共0次竞猜</span>
			</div>
		</div>
		<div class="wrap-box">
			<p class="wrap-img"><img data-src="/Public/res/Wap/worldcup/img/bg22.jpg" src="/Public/res/Wap/worldcup/img/load.gif"></p>
		</div>
		<!--<div id="jq-login" class="wrap-box site-hide">
			<a class="wrap-img wrap-btn" href="javascript:void(0);">
				<img data-src="/Public/res/Wap/worldcup/img/btn.jpg" src="/Public/res/Wap/worldcup/img/load.gif">
			</a>
		</div>-->
		<div id="jq-mask" class="wrap-mask"></div>
		<div id="jq-view" class="wrap-layer wrap-view">
			<img src="">
			<div>
				<h1></h1>
				<p>分类：<span></span></p>
			</div>
		</div>
		<div id="jq-bet" class="wrap-layer wrap-bet">
			<form>
				<label><input type="text" placeholder="请输入竞猜次数" num>次</label>
				<input type="submit" class="wrap-submit" value="确认输入">
			</form>
		</div>
	</section>
	<div id="jq-time-recharge" class="site-hide"><span>00:00:00</span></div>
	<input type="hidden" id="jq-end" value="1">
</div>
<script id="temp-team" type="text/html">
    {{each items as list index}}
    <li data-id="{{list.wc_id}}"><img src="{{list.wc_pic}}" class="wrap-team-img">
		<p>竞猜的次数×<span>{{list.unum}}</span></p>
		<a href="javascript:void(0);"><img src="{{list.wc_img}}"></a>
	</li>
    {{/each}}
</script>
<script id="temp-result" type="text/html">
    <p class="wrap-img wrap-prize"><img src="{{items.wc_pic}}"></p>
	<span>{{items.wc_name}}</span>
	<p class="wrap-img wrap-name"><img src="{{items.wc_img}}"></p>
	<span>共{{items.win_num}}人中奖</span>
</script>
<script type="text/javascript">
lazyload.init();
var data_json = <?php echo $data_json; ?>;
</script>
<script type="text/javascript" src="/Public/res/Wap/base/js/zepto.min.js"></script>
<script type="text/javascript" src="/Public/res/Wap/base/js/template.js"></script>
<script src="https://static.lkme.cc/linkedme.min.js" ></script>
<script type="text/javascript" src="/Public/res/Wap/worldcup/js/index.js?v=81"></script>
<eq name="APP_TYPE" value="wechat">
<php>
    $_default_share = share_config('wechat_default_share');
</php>
<script>
    var wx_appId = '{$js_api.appId}';
    var wx_timestamp = '{$js_api.timestamp}';
    var wx_nonceStr = '{$js_api.nonceStr}';
    var wx_signature = '{$js_api.signature}';
    
    var shareTitle = "<?php echo $wc_share['shareTitle'];?>";
        shareDesc = "<?php echo $wc_share['shareDesc'];?>";
        shareImg = "<?php echo $wc_share['shareImg'];?>";
        shareLink = "<?php echo $wc_share['shareLink'];?>";
</script>
<script src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
<script src="__JS__/WxShare.js?={:date('ymdhi')}"></script>
</eq>
<if condition="APP_TYPE eq 'alipay'">
<!--引入jsAPI的功能js-->
<script src="https://as.alipayobjects.com/g/component/antbridge/1.1.1/antbridge.min.js"></script>
<script src="__JS__/AlipayShare.js?={:date('ymdhi')}"></script>
<script type="text/javascript">
</script>
<!--分享功能8.1以上钱包支持-->
</if>