<extend name="Public/base" />

<block name="body">
<div class="site-search">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <!-- 高级搜索 -->
    <div class="search-form fr cf">
        <form id="search-form" onsubmit="return false;">
            <div class="search-form fr cf">
                <label id="msg" name="msg"></label>
                <div class="fl layui-form">
                    <div class="layui-input-inline">
                        <select name="select_warehouse_id" lay-filter="aihao" lay-search>
                            <option value="">请选择仓库</option>
                            <volist name="warehouse" id="l1">
                                <option value="{$l1.w_id}"<?php if($l1['w_id'] == $select_warehouse_id && $select_warehouse_id != ''){ echo(' selected'); } ?>>{$l1.w_name}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="select_store_id" lay-filter="aihao" lay-search>
                            <option value="">请选择门店</option>
                            <volist name="store" id="l2">
                                <option value="{$l2.id}" <?php if($l2['id'] == $select_store_id){ echo('selected'); } ?>>{$l2.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="sleft">
                    <input type="text" name="s_date" class="text input-text search-input time" value="{$s_date}" placeholder="请选择开始日期" />
                    <input type="text" name="e_date" class="text input-text search-input time" value="{$e_date}" placeholder="请选择结束日期" />
                    <a class="sch-btn" href="javascript:void(0);" id="search" url="{:addons_url('Purchase://PurchaseRequest:/index')}?is_auto={$is_auto}"><i class="btn-search"></i></a>
                </div>
            </div>
        </form>
    </div>
    <?php if($is_auto == 1){ ?>
    <a class="btn" href="{:addons_url('Purchase://PurchaseRequest:/index')}?s_date={$s_date}&e_date={$e_date}">自动分单</a>
    【全部申请】
    <?php }else{ ?>
    【自动分单】
    <a class="btn" href="{:addons_url('Purchase://PurchaseRequest:/index')}?is_auto=1&s_date={$s_date}&e_date={$e_date}">全部申请</a>
    <?php } ?>
    <a class="btn" href="{:addons_url('Purchase://PurchaseRequest:/index')}?is_auto={$is_auto}&isprint=1&s_date={$s_date}&e_date={$e_date}&select_warehouse_id={$select_warehouse_id}&select_store_id={$select_store_id}">导出Excel</a>
    <!-- 数据列表 -->
    <?php if($is_auto == 1){ ?>
    <!-- 全部申请 -->
    <form id="formAll" action="{:addons_url('Purchase://PurchaseRequest:/update')}" method="post" class="form-horizontal">
        <div class="data-table table-striped">
            <table>
                <thead>
                <tr>
                    <th class="row-selected row-selected" width="30"><input class="selectall" type="checkbox" name="selectallgoods[]" value=""></th>
                    <th>商品ID</th>
                    <th>商品名称</th>
                    <th>商品属性</th>
                    <th>商品条码</th>
                    <th>申请单号</th>
                    <th>申请数量</th>
                    <th>库存数量</th>
                    <th>申请时间</th>
                    <th>申请仓库/门店</th>
                    <th>申请人</th>
                    <th>备注</th>
                    <th>商品备注</th>
                    <th>历史供应商</th>
                    <th>历史采购价</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <volist name="list" id="lv0" key="vo">
                        <volist name="lv0.data" id="lv">
                        <tr>
                            <td><input class="selectthis" type="checkbox" name="selectprdid[]" value="{$lv.p_r_d_id}"/></td>
                            <td>{$lv.goods_id}</td>
                            <td><a href="{:addons_url('Goods://GoodsInfo:/index')}?id={$lv.goods_id}" target="_blank">{$lv.goods_name}</a></td>
                            <td>{$lv.value_name}</td>
                            <td title="{$lv.bar_code}">{$lv.bar_code|subtext=14}</td>
                            <td>{$lv.p_r_sn}</td>
                            <td>{$lv.g_num}</td>
                            <td><?php if($lv['p_r_type'] == 0){ ?>{$lv.stock_num}<?php } ?><?php if($lv['p_r_type'] == 1){ ?>{$lv.store_num}<?php } ?></td>
                            <td>{$lv.ctime}</td>
                            <td>{$lv.w_name}/{$lv.store_name}</td>
                            <td>{$lv.nickname}</td>
                            <td><div title="{$lv.remark}">{$lv.remark|mb_substr=0,5,'utf-8'}</div></td>
                            <td><div title="{$lv.remark_detail}">{$lv.remark_detail|subtext=10}</div></td>
                            <td>{$lv.s_name}</td>
                            <td>{$lv.g_price}</td>
                            <td>
                                <a class="jq-confirm" href="{:addons_url('Purchase://PurchaseRequest:/delete?id='.$lv['p_r_d_id'])}" data-id="{$lv.p_r_d_id}">拒绝</a>
                            </td>
                        </tr>
                        </volist>
                    <?php $ilist++; ?>
                    </volist>
                    <tr>
                        <td colspan="16" class="layui-form">
                            <div class="layui-input-inline">
                                <select name="warehouse_id" lay-search>
                                    <option value="">请选择仓库</option>
                                    <volist name="warehouse" id="l1">
                                        <option value="{$l1.w_id}">{$l1.w_name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="store_id" lay-search>
                                    <option value="">请选择门店</option>
                                    <volist name="store" id="l0">
                                        <option value="{$l0.id}">{$l0.title}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="supply_id" lay-search>
                                    <?php if($lv0['supply_id'] == ''){ echo('<option value="" selected>请选择供应商</option>'); } ?>
                                    <volist name="supply" id="l2">
                                        <option value="{$l2.s_id}">{$l2.s_name}</option>
                                    </volist>
                                </select>
                            </div>
                            <label>备注：<input type="text" class="text input-min remark" style="width: 200px;" name="remark"/></label>
                            <button class="jq-submit-auto btn submit-btn hidden" target-form="form-horizontal" name="submit1" type="submit">提交询价单</button>
                            <button class="jq-submit-refuse btn submit-btn hidden" target-form="form-horizontal" name="submit2" type="submit">拒绝申请</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <?php }else{ ?>
    <!-- 自动分单 -->
    <?php $ilist = 0; ?>
    <volist name="list" id="lv0" key="vo">
        <!-- 数据列表 -->
        <form id="form{$ilist}" action="{:addons_url('Purchase://PurchaseRequest:/update')}" method="post" class="form-horizontal">
            <div class="data-table table-striped">
                <table>
                    <thead>
                    <tr>
                        <th class="row-selected row-selected" width="30"><input class="selectall" type="checkbox" name="selectallgoods[]" value=""></th>
                        <th><a class="btn" href="{:addons_url('Purchase://PurchaseRequest:/index')}?is_auto={$is_auto}&orderbygoodsid=1&s_date={$s_date}&e_date={$e_date}&select_warehouse_id={$select_warehouse_id}&select_store_id={$select_store_id}">商品ID</a></th>
                        <th>商品名称</th>
                        <th>商品属性</th>
                        <th>商品条码</th>
                        <th>申请单号</th>
                        <th>申请数量</th>
                        <th>库存数量</th>
                        <th>申请时间</th>
                        <th>申请仓库/门店</th>
                        <th>申请人</th>
                        <th>备注</th>
                        <th>商品备注</th>
                        <th>历史社区</th>
                        <th><a class="btn" href="{:addons_url('Purchase://PurchaseRequest:/index')}?is_auto={$is_auto}&orderbysupply=1&s_date={$s_date}&e_date={$e_date}&select_warehouse_id={$select_warehouse_id}&select_store_id={$select_store_id}">历史供应商</a></th>
                        <th>历史采购价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="lv0.data" id="lv">
                        <tr>
                            <td><input class="selectthis" type="checkbox" name="selectprdid[]" value="{$lv.p_r_d_id}"/></td>
                            <td>{$lv.goods_id}</td>
                            <td><a href="{:addons_url('Goods://GoodsInfo:/index')}?id={$lv.goods_id}" target="_blank">{$lv.goods_name}</a></td>
                            <td>{$lv.value_name}</td>
                            <td title="{$lv.bar_code}">{$lv.bar_code|subtext=14}</td>
                            <td>{$lv.p_r_sn}</td>
                            <td>{$lv.g_num}</td>
                            <td><?php if($lv['stock_num'] != 0){ ?>{$lv.stock_num}<?php }else{ ?><?php if($lv['store_num'] != 0){ ?>{$lv.store_num}<?php }else{ ?>0<?php } }?></td>
                            <td>{$lv.ctime}</td>
                            <td>{$lv.w_name}/{$lv.store_name}</td>
                            <td>{$lv.nickname}</td>
                            <td><div title="{$lv.remark}">{$lv.remark|mb_substr=0,5,'utf-8'}</div></td>
                            <td><div title="{$lv.remark_detail}">{$lv.remark_detail|subtext=10}</div></td>
                            <td>{$lv.shequ_name}</td>
                            <td>{$lv.s_name}</td>
                            <td>{$lv.g_price}</td>
                            <td>
                                <a class="jq-confirm" href="{:addons_url('Purchase://PurchaseRequest:/delete?id='.$lv['p_r_d_id'])}" data-id="{$lv.p_r_d_id}">拒绝</a>
                            </td>
                        </tr>
                    </volist>
                    <tr>
                        <td colspan="16" class="layui-form">
                            <volist name="warehouse" id="l1">
                                 <?php if($lv0['warehouse_id'] == $l1['w_id']){ echo('收货仓库:【' .$l1['w_name'] .'】<input type="hidden" id="warehouse_id" name="warehouse_id" value="' .$l1['w_id']. '">'); } ?>
                            </volist>
                            <volist name="store" id="l1">
                                <?php if($lv0['store_id'] == $l1['id']){ echo('收货门店:' .$l1['title'] .'<input type="hidden" id="store_id" name="store_id" value="' .$l1['id']. '">'); } ?>
                            </volist>
                            <div class="layui-input-inline">
                                <select name="supply_id" lay-filter="aihao" lay-search>
                                    <?php if($lv0['supply_id'] == ''){ echo('<option value="" selected>请选择供应商</option>'); } ?>
                                    <volist name="supply" id="l2">
                                        <option value="{$l2.s_id}" <?php if($lv0['supply_id'] == $l2['s_id']){ echo('selected'); } ?>>{$l2.s_name}</option>
                                    </volist>
                                </select>
                            </div>
                            <label>备注：<input type="text" class="text input-min remark" style="width: 200px;" name="remark"/></label>
                            <button class="jq-submit-auto btn submit-btn hidden" target-form="form-horizontal" name="submit{$ilist}" type="submit">提交询价单</button>
                            <button class="jq-submit-refuse btn submit-btn hidden" target-form="form-horizontal" name="submit{$ilist}" type="submit">拒绝申请</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <?php $ilist++; ?>
    </volist>
    <?php } ?>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
    <input type="hidden" id="jq-form-refuse" value="{:addons_url('Purchase://PurchaseRequest:/sub_delete')}">
</div>
</block>
<block name="script">
<script type="text/javascript">
    layui.use(['main','form'], function() {
        var $ = layui.jquery,
         form = layui.form;
    });
</script>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    //highlight_subnav('{:addons_url('Purchase://PurchaseRequest:/index')}');
    //搜索功能
        $('.search-form input').focus(function(){
            $(document).keypress(function (e) {
                // 回车键事件
                if (e.which == 13) {
                    $("#search").click();
                }
            });
        });

    //全选节点
    /*$('.selectall').on('change',function(){
        $(this).closest('table').find('tr').find('td').find('input').prop('checked',this.checked);
    });*/

    $("#search").click(function() {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        var query2 = $('#select-form').serialize();
        if (url.indexOf('?') > 0) {
            url += '&' + query2;
        } else {
            url += '?' + query2;
        }
        window.location.href = url;
    });

    // 状态搜索子菜单
    $(".search-form").find(".drop-down").hover(function() {
        $("#sub-sch-menu").removeClass("hidden");
    }, function() {
        $("#sub-sch-menu").addClass("hidden");
    });
    $("#sub-sch-menu li").find("a").each(function() {
        $(this).click(function() {
            var text = $(this).text();
            $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
            $("#sub-sch-menu").addClass("hidden");
        })
    });
    var _T;
    $('#select-form input').change(function(){
        clearTimeout(_T);
        _T = setTimeout(function(){
            $("#search").click();
        }, 1000);
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd',
        language: "zh-CN",
        minView: 2,
        autoclose: true
    });
</script>
</block>
