<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <!-- 高级搜索 -->
    <div class="search-form fr cf">
        <form id="search-form" onsubmit="return false;">
            <div class="search-form fr cf">
                <div class="sleft">
                    <input type="text" name="date" class="text input-text search-input time" value="{:I('date', date('Y-m-d'))}" placeholder="请选择日期" />
                    <a class="sch-btn" href="javascript:;" id="search" url="{:addons_url('Tongji://TongjiAdmin:/day_lists')}"><i class="btn-search"></i></a>
                </div>
            </div>
        <form>
    </div>
    <div style="clear:both;"></div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead> 
                <tr>
                    <th>商品</th>
                    <th>销售量</th>
                    <th>销售金额</th>
                    <th>最后一次销售时间</th>
                    <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
            <volist name="list" id="lv" key="vo">
                <tr>
                    <td>{$lv.goods_title}</td>
                    <td>{$lv.num}</td>
                    <td>{$lv.money}</td>
                    <td>{$lv.update_time|time_format="Y-m-d H:i:s"}</td>
                    <td>
                        <a class="update" href="{:addons_url('Tongji://TongjiAdmin:/day_detail?goods_id='.$lv['goods_id'].'&date='.$_GET['date'])}" data-id="{$lv.id}">查看销售详细</a>
                    </td>
                </tr>
            </volist>
            <else/>
                <tr>
                    <td colspan="8" align="center">没有销售记录</td>
                </tr>
            </notempty>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        highlight_subnav('{:addons_url('Tongji://TongjiAdmin:/day_lists')}');
        $(function() {
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('#search-form').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });

            /* 状态搜索子菜单 */
            $(".search-form").find(".drop-down").hover(function () {
                $("#sub-sch-menu").removeClass("hidden");
            }, function () {
                $("#sub-sch-menu").addClass("hidden");
            });
            $("#sub-sch-menu li").find("a").each(function () {
                $(this).click(function () {
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
                    $("#sub-sch-menu").addClass("hidden");
                })
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });
        })
    </script>
</block>
