<extend name="Public/base" />
<block name="body">
    <div id="jq-content" class="site-content">
        <div class="main-title">
            <h2 id="jq-title">商品结算详细</h2>
        </div>
        <div class="tab-content">
            <form id="form" action="" method="get" class="form-horizontal">
                <div id="jq-list" class="tab-pane in tab1"></div>
                <div class="form-item cf">
                	<button id="jq-submit-return" class="btn submit-btn" onclick="javascript:history.back(-1);return false;">返回</button>
                </div>
            </form>
        </div>
    </div>
    <script id="temp-list" type="text/html">
        <div class="form-item cf">
            <label class="item-label">商品ID</label>
            <div class="controls">{{items.goods_id}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">商品名</label>
            <div class="controls">{{items.goods_name}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">库存</label>
            <div class="controls">上期库存：{{items.prev_month_num}} 本月库存：{{items.now_month_num}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">本月出入库数</label>
            <div class="controls">入库：{{items.in_num}} 出库：{{items.out_num}} </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">本月找回数</label>
            <div class="controls">{{items.find_num}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">销售数</label>
            <div class="controls">{{items.sell_num}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">销售价</label>
            <div class="controls">{{items.price}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">应结<span class="check-tips">(上期库存-月末库存) + (本月入库-本月出库)</span></label>
            <div class="controls">数量：{{items.result_num}} 货款：{{items.result_money}}</div>
        </div>
        <div class="form-item cf">
            <label class="item-label">丢失<span class="check-tips">(丢失数 = 盘亏数量 &nbsp; &nbsp; 丢失率 = 丢失数/应结数量)</span></label>
            <div class="controls">数量：{{items.system_lost_num}} 丢失率：{{items.lost_rand}} </div>
        </div>
    </script>
</block>
<block name="script">
    <script type="text/javascript">
    layui.use(['main'], function() {
        var $ = layui.jquery,
            layer = layui.layer;
 
        var Global = {
            listUrl: '/Erp/StoreGoodsSwift/view',
            jump: window.location.pathname.match(/(\D*)view/)[1]
        }
        $("a[href$='" + Global.jump + "index.html']").parent().addClass('layui-this');

        var passData = {
        	id: window.location.pathname.match(/\/(\w+)\/did/)[1],
        	did: window.location.pathname.match(/\/(\w+).html/)[1]
        };
        var data = $.parseJson( passData );
        
        $.getData({
             url: Global.listUrl + '?' + data,
            load: true
        }, function(res){
            dataShow(res);
        });
        function dataShow(res,callback){
            var oList = $('#jq-list');
            oList.html(template('temp-list', { items: res.content }));
        }

    });
    </script>
</block>