<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <a class="btn" href="{:addons_url('Alipay://AlipayConfigAdmin:/save')}">添加</a>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>更新时间</th>
                    <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="lv" key="vo">
                <tr>
                    <td>{$lv.title}</td>
                    <td>{$lv.update_time|time_format}</td>
                    <td>
                        <a class="update" href="{:addons_url('Alipay://AlipayConfigAdmin:/save?id='.$lv['id'])}" data-id="{$lv.id}">编辑</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function() {
            highlight_subnav('{:addons_url('Alipay://AlipayPayAdmin:/index')}');
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });
        })
    </script>
</block>
