<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>关键词列表</h2>
    </div>
    <div style="margin-bottom:10px;">
        <a class="btn" href="{:addons_url('WechatKeyword://WechatKeyword:/save')}">添加关键词</a>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>排序</th>
                    <th>关键词</th>
                    <th>类型</th>
                    <th>添加时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="lv" key="vo">
                <tr>
                    <td><input type="text" class="input-mini text listorder" value="{$lv.listorder}" item_id="{$lv.id}" maxlength="4"/></td>
                    <td>{$lv.keyword}</td>
                    <td>{$lv.type_text}</td>
                    <td>{$lv.create_time_text}</td>
                    <td>{$lv.update_time_text}</td>
                    <td>
                        <a class="update" href="{:addons_url('WechatKeyword://WechatKeyword:/save?id='.$lv['id'])}" data-id="{$lv.id}">编辑</a>
                        <a class="confirm delete ajax-get" href="{:addons_url('WechatKeyword://WechatKeyword:/delete?id='.$lv['id'])}" data-id="{$lv.id}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function() {
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });
            $('.listorder').on('change', function(){
                var id = $(this).attr('item_id'),
                    value = $(this).val();
                $.ajax({
                    type: 'get',
                    url : "{:addons_url('WechatKeyword://WechatKeyword:/listorder')}",
                    data: {listorder:value, id:id},
                    success:function(msg){
                        if(msg.status == 1){
                            window.location.reload();
                        }
                    }
                });
            });
        })
    </script>
</block>
