<extend name="Public/base" />

<block name="style">
    <!--<style>
        body{padding: 0; padding-top:50px;}
    </style>-->
</block>
<block name="body">
    <script type="text/javascript">
    document.getElementById('jq-nav-left').style.display = 'none';
    document.getElementById('jq-main-box').style.left = '0';
    </script>
        <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
        <div class="tab-content">
            <!-- 数据列表 -->
            <form id="form" class="form-horizontal">
                <div class="tab-pane in tab1">
                    <volist name="shequ" id="lv">
                        <notempty name="warehouse[$lv[id]]">
                        <div class="form-item cf">
                            <label class="item-label">{$lv.title}</label>
                            <div class="controls">
                                <volist name="warehouse[$lv[id]]" id="lc">
                                    <a href="{:addons_url('Store://Warehouse:/change_warehouse', array('warehouse_id' => $lc['w_id']))}" style="margin:5px;" class="btn">{$lc.w_name}<eq name="lc.w_type" value="1"><span class="check-tips" style="margin-left:0;">（禁用）</span></eq></a>
                                </volist>
                            </div>
                        </div>
                        </notempty>
                    </volist>
                </div>
                <div class="form-item cf">
                </div>
            </form>
        </div>
</block>
<block name="script">
	<script type="text/javascript">
                /* 插件块关闭操作 */
                $(".title-opt .wm-slide").each(function(){
                    $(this).click(function(){
                        $(this).closest(".columns-mod").find(".bd").toggle();
                        $(this).find("i").toggleClass("mod-up");
                    });
                })
		$(function(){
                    highlight_subnav('{:U("Index/index")}');
                    //全选节点
                    $('.check-all').on('change',function(){
                        $('.ids').prop('checked',this.checked);
                    });
                    $('.sidebar').remove();
		});
                
	</script>
</block>