<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
   
    <div class="cf">
        <a href="{:addons_url('CashCoupon://WorldCup:/logs')}" class="btn">返回活动列表</a>            
        <!-- 高级搜索 -->
        <div class="search-form fr cf">

        </div>
    </div>    
    <div style="clear:both;"></div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th style="width:100px;">用户</th>
                    <th style="width:100px;">投票注数</th>
                    <th style="width:150px;">操作</th>
                    <th style="width:100px;">充值单号</th>
                    <th style="width:100px;">充值金额</th>                    
                    <th style="width:300px;">处理时间</th>
                </tr>
            </thead>
            <tbody>
                <empty name="list">
                        <tr>
                            <td colspan="6" class="text-center"> 没有数据~</td>
                        </tr>
                <else/>
                    <volist name="list" id="lv" key="vo">
                        <tr>
                            <td>{$lv.uid|get_nickname}</td>
                            <td>
                            <?php if ($lv['team'] == 0) { ?>
                                <span style="color:green;">+ <?php echo $lv['num']?></span>
                            <?php } else {  ?>
                                <span style="color:red;">- <?php echo $lv['num']?></span>
                            <?php } ?>
                            </td>
                            <td>
                            <?php if ($lv['team'] == 0) { ?>
                            充值
                            <?php } elseif ($lv['team'] == 1) { ?>
                            投选<?php echo $team_a;?>
                            <?php } elseif ($lv['team'] == 2) { ?>
                            投选<?php echo $team_b;?>
                            <?php } ?>
                            </td>
                            <td>{$lv.order_sn}</td>
                            <td>{$lv.money}</td>
                            <td><?php echo date('Y-m-d H:i:s', $lv['create_time']);?></td>
                        </tr>
                    </volist>
                </empty>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function() {
            highlight_subnav("{:U('/Admin/Code')}");
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });//搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var status = $("#sch-sort-txt").attr("data");
                var query = $('#search-form').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (status != '') {
                    query = 'status=' + status + "&" + query;
                }
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            
            
            $("#download").click(function(){
                var url = $(this).attr('url');
                var uid = $(':input[name=uid]').val();
                var start_time = $(':input[name=start_time]').val();
                var end_time = $(':input[name=end_time]').val();
                url = url +'?uid=' + uid  + '&start_time=' + start_time + '&end_time=' + end_time;
                window.location.href = url;
            })            
            
            

            /* 状态搜索子菜单 */
            $(".search-form").find(".drop-down").hover(function () {
                $("#sub-sch-menu").removeClass("hidden");
            }, function () {
                $("#sub-sch-menu").addClass("hidden");
            });
            $("#sub-sch-menu li").find("a").each(function () {
                $(this).click(function () {
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
                    $("#sub-sch-menu").addClass("hidden");
                })
            });
            
            var _T;
            $('#select-form input').change(function(){
                clearTimeout(_T);
                _T = setTimeout(function(){
                    $("#search").click();
                }, 1000);
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });            
            
        })
    </script>
</block>    
    