<extend name="Public/base" />
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Public/res/code/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Public/res/code/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/Public/res/code/ueditor/lang/zh-cn/zh-cn.js"></script> 
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
    
    <div class="tab-content site-lottery">
        <!-- 数据列表 -->
        <form id="form" action="{:addons_url('CashCoupon://WorldCup:/win')}" method="post" class="form-horizontal">
            <div class="tab-pane in tab1">
                <div>
                    <input id="win1" name="win_one" type="radio" value="{$data1['wc_id']}">
                    &nbsp;&nbsp;&nbsp;
                    <label for="win1">
                    <img id="showimg1" style="width:200px;" src="{$data1['wc_pic']}" />
                    A球队名: {$data1['wc_name']}
                    <?php if ($data1['wc_get'] == 1) { echo '<span style="color:red;">(已胜出)</span>'; } ?>
                    </label>
                </div>
                <br><br>
                <div>
                    <input id="win2" name="win_one" type="radio" value="{$data2['wc_id']}">
                    &nbsp;&nbsp;&nbsp;
                    <label for="win2">
                    <img id="showimg2" style="width:200px;" src="{$data2['wc_pic']}" />
                    B球队名: {$data2['wc_name']}
                    <?php if ($data2['wc_get'] == 1) { echo '<span style="color:red;">(已胜出)</span>'; } ?>
                    </label>
                </div>                     
            </div>                 
            <div class="form-item cf" style="margin-top:100px;">
                <button id="submit" class="btn submit-btn ajax-post hidden" target-form="form-horizontal" type="submit">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </form>
    </div>

</block>
<block name="script">



<script type="text/javascript">

</script>


</block>