<extend name="Public/base" />
<block name="body">
    <div id="jq-content" class="site-content">
        <div class="main-title">
            <h2>入库单查看</h2>
        </div>
        <a id="jq-download" class="btn" href="javascript:void(0);">导出Excel</a>
        <form id="jq-form" class="form-horizontal">
            <div id="jq-list" class="tab-pane in tab1"></div>
            <div class="data-table table-striped">
                <table>
                    <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名称</th>
                            <th>商品类型</th>
                            <th>商品属性</th>
                            <th>商品条码</th>
                            <th>售价金额</th>
                            <!--<th>入库价</th>-->
                            <th>入库数量</th>
                            <th class="temp-date">过期日期</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody id="jq-child"></tbody>
                </table>
            </div>
            <!--<button id="jq-submit" type="submit" class="btn submit-btn hidden">修改入库单</button>-->
        </form>
    </div>
    <script id="temp-list" type="text/html">
        <div class="form-item cf">
            <div class="controls goods_div">
                <label>入库单号：{{items.s_in_s_sn}}</label>
                <label>创建日期：{{items.ctime}}</label>
                <label>商品种类：{{items.g_type}}种</label>
                <label>商品数量：{{items.g_nums}}</label>
                <label>售价金额：{{items.g_amounts}}</label>
            </div>
            <div class="controls goods_div1">
                <label>创建人：{{items.admin_nickname}}</label>
                <label>发货仓库/门店：
                    {{if items.warehouse_name == '' || items.warehouse_name == null }}
	                    {{items.store_name1}}
	                {{else}}
	                    {{items.warehouse_name}}
	                {{/if}}
                </label>
                <label>收货门店：{{items.store_name2}}</label>
            </div>
            <div class="controls goods_div3">
                <label>来源：<span class="wrap-empty">{{items.s_in_s_type_name}}</span></label>
                <label>关联单号：{{items.rel_orders}}</label>
            </div>
            <div class="controls goods_div3">
                <label>单据状态：<span class="wrap-highlight">{{items.s_in_s_status_name}} </span></label>
            </div>
            <div class="controls goods_div4">
                <label>备注：
                    {{if items.s_in_s_status == 0}} 
                        <input type="text" class="text input-min remark" style="width: 200px;" name="remark" value="{{items.remark}}" />
                    {{else}}
                        {{items.remark}}
                    {{/if}}
                </label>
            </div>
        </div>
    </script>
    <script id="temp-child" type="text/html">
        {{each items as list index}}
        <tr class="data_list">
            <input type="hidden" name="s_in_s_d_id" value="{{list.s_in_s_d_id}}"/>
            <td>{{list.goods_id}}</td>
            <td title="{{list.goods_name}}"><a href="{:addons_url('Goods://GoodsInfo:/index')}?id={{list.goods_id}}" target="_blank">
            {{if list.goods_name != null}}
                {{if list.goods_name.length > 19}}
                    {{list.goods_name.slice(0,18) + '...'}}
                {{else}}
                    {{list.goods_name}}
                {{/if}}
                {{/if}}</a>
            </td>
            <td>{{list.cate_name}}</td>
            <td>{{list.value_name}}</td>
            <td title="{{list.bar_code}}">
            {{if list.bar_code != null}}
                {{if list.bar_code.length > 15}}
                    {{list.bar_code.slice(0,14) + '...'}}
                {{else}}
                    {{list.bar_code}}
                {{/if}}
            {{/if}}
            </td>
            <td>{{list.sell_price}}</td>
            <!--<td>{{list.g_price}}</td>-->
            <td>{{list.g_num}}</td>
            <td class="temp-date">
                {{list.endtime}}
                <!--<input type="text" name="endtime" value="{{list.endtimestamp}}" />-->
            </td>
            <td title="{{list.remark}}">
            {{if list.remark != null}}
                {{if list.remark.length > 10 }}
                    {{list.remark.slice(0,9) + '...'}}
                {{else}}
                    {{list.remark}}
                {{/if}}
            {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
</block>
<block name="script">
    <script type="text/javascript">
    layui.use(['main','laydate'], function() {
        var $ = layui.jquery,
            layer = layui.layer,
            laydate = layui.laydate;

        var Global = {
              listUrl: '/Erp/StoreInStock/getSingleStoreInStockInfo',
              fileUrl: '/Erp/StoreInStock/exportViewExcel',
            submitUrl: '/Erp/StoreInStock/update',
            jump: window.location.pathname.match(/(\D*)view/)[1]
        }
        $("a[href$='" + Global.jump + "index.html']").parent().addClass('layui-this');

        var passData = {
            s_in_s_id: window.location.pathname.match(/\/(\w+).html/)[1]
        }
        var data = $.parseJson( passData );
        
        $.getData({
             url: Global.listUrl + '?' + data,
            load: true
        }, function(res){
            dataShow(res);
        });
        function dataShow(res){
            $('#jq-list').html(template('temp-list', { items: res.content.maindata }));
            $('#jq-child').html(template('temp-child', { items: res.content.list }));

            switch( parseInt( res.content.maindata.s_in_s_type ) ){
                case 0:
                case 1:
                case 2:
                case 3:
                case 5:
                $('#jq-form').find('.temp-date').remove();
                break;
            };

            /*lay('[name="endtime"]').each(function(){
                laydate.render({
                    elem: this,
                    trigger: 'click'
                });
            });*/
            
            /*$('#jq-child').find('tr').each(function(){
                var oEnd = $(this).find('[name="endtime"]');

                if( res.content.maindata.s_in_s_status != 0 ){
                    $('#jq-submit').hide();
                    var newDate = new Date();
                    newDate.setTime( oEnd.val() * 1000 );
                    oEnd.val( newDate.format('yyyy-MM-dd') );
                    oEnd.parents('td').html( oEnd.val() );
                } 
                
                if( oEnd.val() == 0 ){
                    oEnd.val( $.dateRange(30) );
                }else{
                    var newDate = new Date();
                    newDate.setTime( oEnd.val() * 1000 );
                    oEnd.val( newDate.format('yyyy-MM-dd') );
                }

            });*/
        }

        $('#jq-download').fileDown({
             url: Global.fileUrl + '?' + data,
        });

        /*$('#jq-submit').on({
            click: function() {
                var arr = [];
                $('#jq-child').find('tr').each(function(){
                    var oId = $(this).find('[name="s_in_s_d_id"]'),
                       oEnd = $(this).find('[name="endtime"]');
                    arr.push({
                      s_in_s_d_id: oId.val(),
                          endtime: oEnd.val()
                    });
                });
                var data = {
                    s_in_s_id: passData.s_in_s_id,
                    info_json: arr,
                    remark: $('[name="remark"]').val()
                }
                $.postData({
                     url: Global.submitUrl,
                    data: data
                }, function(res){
                    layer.msg(res.content, {
                        time: 1500
                    });
                    window.location.href = Global.jump + 'index.html';
                });
                return false;
            }
        });*/

    });
    </script>
</block>