<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
    <div class="cf">
        <a href="{:U('ActProductAdmin/logs2')}" class="btn">返回活动列表</a>        
        <!-- 高级搜索 -->
        <div class="search-form fr cf">

        </div>
    </div> 
    <div style="padding:10px 0;">

    </div>    
    
    <div style="clear:both;"></div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th style="width:100px;">活动时间</th>
                    <th style="width:100px;">排名</th>
                    <th style="width:150px;">用户昵称</th>
                    <th style="width:150px;">用户ID</th>
                    <th style="width:150px;">用户电话</th>
                    <th style="width:150px;">消费金额（元）</th>
                    <th style="width:150px;">当天消费最高门店</th>
                    <th style="width:150px;">区域</th>
                    <th style="width:300px;">中奖情况</th>
                </tr>
            </thead>
            <tbody>
                <empty name="list">
                        <tr>
                            <td colspan="6" class="text-center"> 没有数据~</td>
                        </tr>
                <else/>
                    <volist name="list" id="lv" key="vo">
                        <tr>
                            
                            <td>{$lv.act_time|time_format="Y-m-d"}</td>
                            <td>{$vo}</td>
                            <?php if (!empty($lv['uid'])) { ?>
                            <td>{$lv.uid|get_nickname}</td>
                            <?php } else { ?>
                            <td>-</td>
                            <?php } ?>
                            <td>{$lv.uid}</td>
                            <td>{$lv.mobile}</td>
                            <td>{$lv.moneys}</td>
                            <td>{$lv.store}</td>
                            <td>{$lv.shequ}</td>
                            <td>
                            <?php if ($lv['status'] == 1) {?>
                                <?php if ($lv['act_user'] == $lv['act_user_c']) { ?>
                                    <span style="color:red">中奖</span>
                                <?php } else { ?>
                                    未中
                                <?php } ?>
                            <?php } else { ?>
                                <a href="{:U("ActProductAdmin/select_num", array('id' => $lv['id_c']))}" class="confirm ajax-get"><button class="btn">确认中奖</button></a>
                            <?php }?>
                            </td>
                        </tr>
                    </volist>
                </empty>
            </tbody>
        </table>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function() {
            highlight_subnav("{:U('/Admin/Code')}");
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });//搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var status = $("#sch-sort-txt").attr("data");
                var query = $('#search-form').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (status != '') {
                    query = 'status=' + status + "&" + query;
                }
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            
            
            $("#download").click(function(){
                var url = $(this).attr('url');
                var uid = $(':input[name=uid]').val();
                var start_time = $(':input[name=start_time]').val();
                var end_time = $(':input[name=end_time]').val();
                url = url +'?uid=' + uid  + '&start_time=' + start_time + '&end_time=' + end_time;
                window.location.href = url;
            })            
            
            

            /* 状态搜索子菜单 */
            $(".search-form").find(".drop-down").hover(function () {
                $("#sub-sch-menu").removeClass("hidden");
            }, function () {
                $("#sub-sch-menu").addClass("hidden");
            });
            $("#sub-sch-menu li").find("a").each(function () {
                $(this).click(function () {
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
                    $("#sub-sch-menu").addClass("hidden");
                })
            });
            
            var _T;
            $('#select-form input').change(function(){
                clearTimeout(_T);
                _T = setTimeout(function(){
                    $("#search").click();
                }, 1000);
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });            
            
        })
    </script>
</block>    
    