<!DOCTYPE HTML>
<html>
<head>
    <!-- head -->
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <link rel="stylesheet" href="__CSS__/mainEdit.css?t={:date('ymdHi')}">

    <title>{$meta_title|default="神秘商店"}</title>

    <script src="__JS__/vendor.js?t={:date('ymdHi')}"></script>
    <script src="__JS__/appEdit.js?t={:date('ymdHi')}"></script>

    <eq name="APP_TYPE" value="alipay">
    <php>
        $_default_share = share_config('alipay_default_share');
    </php>
    <script type="text/javascript">
        var shareTitle = "{$_default_share.title|default='神秘商店'}",
            shareDesc = "{$_default_share.desc|default=''}",
            shareImg = "{$_default_share.cover_id|get_cover_url}",
            shareLink = "{$_default_share.url|default=''}";
    </script>
    <meta name="Alipay:title" content="{$_default_share.title|default='神秘商店'}"/>
    <meta name="Alipay:imgUrl" content="{$_default_share.cover_id|get_cover_url}"/>
    <meta name="Alipay:desc" content="{$_default_share.desc}"/>
    </eq>

    <script type="text/javascript" src="/Public/res/Wap/base/js/rem.js"></script>
    <link rel="stylesheet" href="/Public/res/Wap/base/css/swiper.min.css"/>
    <link rel="stylesheet" href="/Public/res/Wap/base/css/base.css"/>
    <link rel="stylesheet" href="/Public/res/Wap/cashcoupon/css/index.css?v=14"/>
</head>

<body class="site-bg">
<php>
  $coupon_bg_poster = D('Addons://Poster/PosterData')->where(array('name' => 'coupon_bg', 'status' => 1))->limit(1)->order('listorder desc')->field('url,cover_id')->find();
  $coupon_bg = !empty($coupon_bg_poster['cover_id']) ? get_cover_url($coupon_bg_poster['cover_id']) : '';
</php>
<notempty name="coupon_bg">
  <style>
      .site-bg{
          background-image:url({$coupon_bg});
      }
  </style>
</notempty>
<div class="site-container swiper-container">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
        <notempty name="coupon_bg_poster['url']">
          <a href="{$coupon_bg_poster['url']|default='javascript:;'}" style="width:100%;height:10.2rem;display:block;position:fixed;top:0;left:0;bottom:0;right:0;"></a>
        </notempty>
         <section class="site-redpackets">
            <div class="wrap-block">
               <notempty name="info">
                  <article>
                     <div class="wrap-list">
                        <dl>
                           <dt>神秘红包</dt>
                           <dd>{$info.description}&nbsp;&nbsp;
                            <?php
                            if (!empty($info['last_time'])) {
                                echo '有限期至: ' . date('Y-m-d', $info['last_time']);
                            }
                            ?>
                            </dd>
                        </dl>
                        <switch name="info.type">
                            <case value="1">
                                <p class="wrap-money">¥&nbsp;<span>{$info.money}</span></p>
                            </case>
                            <case value="2">
                                <p class="wrap-money"><span>{$info.discount}</span>折</p>
                            </case>
                        </switch>
                     </div>
                     <div class="wrap-list">
                        <p class="wrap-user">优惠券已放入账户:<span class="tel">{$mobile|default=''}</span></p>
                        <a href="javascript:void(0);" class="change"><notempty name="mobile">去修改<else/>设置手机号码</notempty></a>
                     </div>
                     <a class="wrap-btn" href="http://www.imzhaike.com/migo.html">点击安装神秘商店APP</a>
                     <p class="wrap-des">PS:红包的使用必须是打开神秘商店APP来进行扫码付款才可使用。</p>
                  </article>
               <else/>
                  <article class="wrap-default">
                     <dl>
                        <dt>对不起，小红身体已被掏空</dt>
                        <dd>由于你的手速足够逊色，红包已被抢空</dd>
                     </dl>
                  </article>
               </notempty>
            </div>
            <div class="wrap-block">
               <div class="wrap-obj"><span>活动规则</span><i>&nbsp;</i></div>
               <p class="wrap-info">1.使用红包时的下单手机号需为抢红包时使用的手机号；<span></span>
               2.发放至手机号的红包需在APP用手机号注册，或将手机号绑定至神秘商店账户后才可使用；<span></span>
               3.发放至神秘商店账户的红包登录后即可使用；<span></span>
               4.红包仅限在线支付时使用，每张订单仅限使用一张红包，红包不找零；<span></span>
               5.神秘商店保留法律范围内允许的对活动的解释权。
               </p>
            </div>
         </section>
      </div>
   </div>
   <div class="swiper-scrollbar"></div>
</div>
<script type="text/javascript" src="/Public/res/Wap/base/js/zepto.min.js"></script>
<script type="text/javascript" src="/Public/res/Wap/base/js/swiper.min.js"></script>
<script type="text/javascript">
   var swiper = new Swiper('.swiper-container', {
       scrollbar: '.swiper-scrollbar',
       direction: 'vertical',
       slidesPerView: 'auto',
       mousewheelControl: true,
       freeMode: true
   });
   function laytips(msg){
       var tips = $('<div class="site-tips"><p><img src="https://test.imzhaike.com/Public/res/Admin/images/loading_icon.gif"> ' + msg + '</p></div>').appendTo( document.body );
       var timer = setTimeout(function(){
           tips.remove();
       }, 1500);
   }
   var sum = {$outdate};
   if( sum > 0 ){
      laytips('已领取过优惠券');
   }
</script>

<!--<div class="getCoupons">
<div class="getCoupons-bd">
<div class="getCoupons-bd-form mb15">
    <notempty name="info">
    <div class="bd">
        <switch name="info.type">
            <case value="1">
                <span class="price">{$info.money}</span>
                <span class="unit">元</span>
            </case>
            <case value="2">
                <span class="price">{$info.discount}</span>
                <span class="unit">折</span>
            </case>
        </switch>
        <span class="tags">全场可用{$outdate}</span>
        <notempty name="info.last_time">
        <div class="data-time">{$info.create_time|time_format="Y-m-d"}至{$info.last_time|time_format="Y-m-d"}</div>
        </notempty>
    </div>
    <else/>
        <div class="bd" style="text-align:center;">
            <switch name="make['status']">
                <case value="2"><span class="unit" style="color:#888;">优惠券已经过期了！</span></case>
                <case value="3"><span class="unit" style="color:#888;">优惠券已经被抢光了！</span></case>
                <default/>
                <if condition="$make['is_max'] eq 0 OR ($make['num'] gt $make['get_num'])">
                <a class="unit" href="{:U('CashCoupon/coupon_receive', array('cash_code' => $_GET['cash_code']))}">去领取优惠券</a>
                <else/>
                <span class="unit" style="color:#888;">优惠券已经被抢光了！</span>
                </if>
            </switch>
        </div>
    </notempty>
</div>
<div class="getCoupons-result">
    <span style="margin:0; color:#fff;" id="result_tips"><notempty name="mobile">优惠券已经放入账户</notempty></span> <span class="tel">{$mobile|default=''}</span><a class="change" href="javascript:;"><notempty name="mobile">修改<else/>设置手机号码</notempty></a>
</div>
<div class="getCoupons-result" style="margin-top: -20px;">
    <span style="margin:0; color:#fff;">登录App即可使用</span>
</div>
<div class="getCoupons-result">
    <a href="https://lkme.cc/isC/OFoq7XJI9" style="background:#ffcc00;color: #000;padding:10px 20px;border-radius:4px;text-decoration: none;">点击安装神秘商店APP</a>
</div>
<div class="getCoupons-list">
    <volist name="lists" id="lv">
    <div class="getCoupons-list-item">
        <div class="getCoupons-list-item-hd">
            <img src="{$lv.headimgurl}" alt="">
        </div>
        <div class="getCoupons-list-item-bd">
            <div class="name">{$lv.nickname} <span class="time">{$lv.create_time|time_format="m-d"}</span> <span class="time">{$lv.create_time|time_format="H:i"}</span></div>
            <div class="comment">好高兴能抽到我呢！！</div>
        </div>
        <div class="getCoupons-list-item-ft">{$lv.money} 元</div>
    </div>
    </volist>
</div>

<div class="getCoupons-bd-spec">
    <h3><span>活动规则</span></h3>
    <p>1.使用红包时的下单手机号需为抢红包时使用的手机号。</br>2.发放至手机号的红包需在 App 用手机号注册，或将手机号绑定至蜜狗账户后才可使用。</br>3.发放至蜜狗账户的红包登录后即可使用。</br>4.红包仅限在线支付时使用，每张订单仅限使用一张红包，红包不找零。</br>5.蜜狗保留法律范围内允许的对活动的解释权。</p>
</div>

</div>
</div>-->

<!--统计代码-->
<div style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260501276'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260501276' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<!--统计代码-->

<!-- footer -->
<eq name="APP_TYPE" value="wechat">
<php>
    $_default_share = share_config('wechat_default_share');
</php>
<script>
    var wx_appId = '{$js_api.appId}';
    var wx_timestamp = '{$js_api.timestamp}';
    var wx_nonceStr = '{$js_api.nonceStr}';
    var wx_signature = '{$js_api.signature}';
    
    var shareTitle = "{$_default_share.title|default='蜜狗神秘商店'}",
        shareDesc = "{$_default_share.desc|default=''}",
        shareImg = "{$_default_share.cover|default=''}",
        shareLink = "{$_default_share.url|default=''}";
</script>
<script src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
<script src="__JS__/WxShare.js?={:date('ymdhi')}"></script>
</eq>
<if condition="APP_TYPE eq 'alipay'">
<!--引入jsAPI的功能js-->
<script src="https://as.alipayobjects.com/g/component/antbridge/1.1.1/antbridge.min.js"></script>
<script src="__JS__/AlipayShare.js?={:date('ymdhi')}"></script>
<script type="text/javascript">
</script>
<!--分享功能8.1以上钱包支持-->
</if>
<script type="text/javascript">
    //$('body').css('background', '#b92f50');
    shareTitle = "{:$pay_share['title']}";
    shareDesc = "{:$pay_share['desc']}" ;
    shareImg = "{:$pay_share['cover']}";
    shareLink = "{:$pay_share['url']}";
    <if condition="APP_TYPE eq 'wechat'">
    shareFun();
    </if>
    
    $(function () {
        var timerFlag = null;
        $('.change').click(function() {
            //countdown(0);
            function countdown(num){
              //clearInterval(timerFlag);
              var oSend = $('#jq-code');
              timerFlag = setInterval(function(){
                if( num == 0 ){
                  oSend.html('获取验证码').removeAttr('verify');
                  clearInterval(timerFlag);
                  return false;
                }
                num--;
                oSend.html( '剩余 ' + num + ' 秒' );
              },1000);
            }
            var mobile = '';
            
            ModalPhone.show({
                telephone : mobile,
                display: true,
                tips: '提交后，下次领取的优惠券将自动放入新的账号',
                onSubmit: function (telephone, code) {
                    if(telephone == ''){
                        Loading.show({
                            msg: '请输入手机号码',
                            autoClose: 2000,
                            isLoading: false
                        });
                        return false;
                    }
                    if(!/^1\d{10}$/.test(telephone)){
                        Loading.show({
                            msg: '请输入手机号码',
                            autoClose:2000,
                            isLoading: false
                        });
                        return false;
                    }
                    if(mobile == telephone){
                        Loading.show({
                            msg: '请更改手机号码',
                            autoClose:2000,
                            isLoading: false
                        });
                        return false;
                    }
                    Loading.show({
                        msg: '正在修改',
                        isLoading: true
                    });
                    var url = "{:U('CashCoupon/change_lottery_mobile')}";
                    $.ajax({
                        type:'get',
                        url :url,
                        data : {mobile : telephone, sms_code:code},
                        dataType:'json',
                        success:function(data){
                            Loading.hide();
                            if(data.status == 1){
                                ModalPhone.show({
                                    telephone : telephone,
                                    display: false,
                                });
                                $('.tel').html(telephone);
                                $('#result_tips').html('下次领取的优惠券将放入新的账号');
                            }
                            Loading.show({
                                msg: data.info,
                                autoClose:2000,
                                isLoading: false
                            });
                        }
                    });
                    return false;
                },
                onGetCode: function (telephone, code, el) {
                    if( telephone == '' ) {
                      Loading.show({
                          msg: '请输入手机号码',
                          autoClose: 2000,
                          isLoading: false
                      });
                      return false;
                    }
                    if( typeof $(el).attr('verify') != 'undefined' ){
                      return false;
                    }
                    var self = $(el);

                    $.ajax({
                        type:'get',
                        url : '{:U("CashCoupon/get_mobile_code")}',
                        data : {mobile:telephone},
                        dataType:'json',
                        success:function(data){
                          if(data.status == 1){
                            self.attr('verify',true);
                            countdown(60);
                          }
                          Loading.show({
                              msg: data.info,
                              autoClose:2000,
                              isLoading: false
                          });
                        }
                    });
                      
                    return false;

                    
                }
            })
        })
    })
</script>

</body>
</html>
<!--<script type="text/javascript">
$('body').css('background', '#b92f50');
var shareTitle = "{:$pay_share['title']}";
var shareDesc = "{:$pay_share['desc']}" ;
var shareImg = "{:$pay_share['cover']}";
var shareLink = "{:$pay_share['url']}";
<eq name="APP_TYPE" value="wechat">
shareFun();
</eq>

$(function () {
    var timer = null;
    $('.change').click(function() {
        var mobile = $('.tel').html();
        
        ModalPhone.show({
            telephone : mobile,
            display: true,
            tips: '修改后，下次领取的优惠券将自动放入新的账号',
            onSubmit: function (telephone, code) {
                if(telephone == ''){
                    Loading.show({
                        msg: '请输入手机号码',
                        autoClose:2000,
                        isLoading: false
                    });
                    return false;
                }
                if(!/^1\d{10}$/.test(telephone)){
                    Loading.show({
                        msg: '请输入正确的手机号码',
                        autoClose:2000,
                        isLoading: false
                    });
                    return false;
                }
                if(mobile == telephone){
                    Loading.show({
                        msg: '请更改手机号码',
                        autoClose:2000,
                        isLoading: false
                    });
                    return false;
                }
                Loading.show({
                    msg: '正在修改',
                    isLoading: true
                });
                var url = "{:U('CashCoupon/change_lottery_mobile')}";
                $.ajax({
                    type:'get',
                    url :url,
                    data : {mobile : telephone, sms_code:code},
                    dataType:'json',
                    success:function(data){
                        Loading.hide();
                        if(data.status == 1){
                            ModalPhone.show({
                                telephone : telephone,
                                display: false,
                            });
                            $('.tel').html(telephone);
                            $('#result_tips').html('下次领取的优惠券将放入新的账号');
                        }
                        Loading.show({
                            msg: data.info,
                            autoClose:2000,
                            isLoading: false
                        });
                    }
                });
                return false;
            },
            onGetCode: function (telephone, code, el) {
                if (!timer) {
                    var $el = $(el);
                    var text = $el.text();

                    $el.addClass('disable');
                    timer = new Timer({
                        duration: 60 * 1000,
                        format: '重新发送(ss秒)'
                    });

                    timer.on('change', function () {
                        $el.text('重新发送(' + this.duration / 1000 + '秒)');
                    });

                    timer.on('end', function () {
                        $el.text(text);
                        $el.removeClass('disable');
                        timer = null;
                    });
                    var url = '{:U("CashCoupon/get_mobile_code")}';
                    Loading.show({
                        msg: '正在发送',
                        isLoading: true
                    });
                    $(el).addClass('disable');
                    $.ajax({
                        type:'get',
                        url :url,
                        data : {mobile:telephone},
                        dataType:'json',
                        success:function(data){
                            Loading.hide();
                            if(data.status == 1){
                                timer.start();
                            }
                            Loading.show({
                                msg: data.info,
                                autoClose:2000,
                                isLoading: false
                            });
                            $(el).removeClass('disable');
                        }
                    });
                }
                return false;
            }
        })
    })
})
</script>-->