<extend name="Public/base" />

<block name="body">
        <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
        <ul class="tab-nav nav">
            <li class="current" data-tab="tab1"><a href="javascript:void(0);">基础</a></li>
        </ul>
        <div class="tab-content">
            <!-- 数据列表 -->
            <form id="form" action="" method="post" class="form-horizontal">
                <div class="tab-pane in tab1">
                        <div class="form-item cf">
                            <label class="item-label">店铺创建人</label>
                            <div class="controls">
                                <a href="{:U('Member/Show', array('id' => $data['uid']))}"><img src="{$data.uid|get_header_pic}" class="header_pic" /> {$data.uid|get_nickname}</a>
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">店铺星级<span class="check-tips"></span></label>
                            <div class="controls">
                                {$data.star|D('Addons://Shop/Shop')->get_t_star}
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">已上架商品数<span class="check-tips"></span></label>
                            <div class="controls">
                                <a href="{:addons_url('Shop://ShopArticleAdmin:/index?shop_uid='.$data['uid'])}" target="_blank">{$data.goods_num}</a>
                            </div>
                        </div>
                        <div class="form-item cf">
                            <label class="item-label">创建时间<span class="check-tips"></span></label>
                            <div class="controls">
                                {$data.create_time|time_format='Y-m-d H:i'}
                            </div>
                        </div>
                </div>
                <div class="form-item cf">
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    <input type="hidden" value="{$data.id}" name="id" />
                </div>
            </form>
        </div>
</block>
<block name="script">
	<script type="text/javascript">
		$(function(){
                    highlight_subnav('{:addons_url('Shop://ShopAdmin:/index')}');
                    //全选节点
                    $('.check-all').on('change',function(){
                        $('.ids').prop('checked',this.checked);
                    });showTab();
		})
                
	</script>
</block>