<extend name="Public/base" />
<block name="body">
    <div id="jq-content" class="site-content">
        <div class="main-title">
            <h2>发货临时申请表</h2>
        </div>
        <a id="jq-del" class="confirm btn" href="javascript:void(0);">清空临时申请表</a>
        <form id="form" action="{:addons_url('Warehouse://AssignmentApplication:/update')}" method="post" class="form-horizontal">
            <div class="tab-pane in tab1">
                <div class="form-item cf">
                    <div class="controls goods_div">
                        <a href="javascript:;" id="select_product" class="btn" data-url="">选择绑定的商品</a>
                        <label>条形码：
                            <input type="text" class="text input-min bar_code" style="width: 100px;" name="goods[1][bar_code]" />
                        </label>
                        <label>商品ID：
                            <input type="text" class="text input-min id_code" style="width: 100px;" name="goods[1][id_code]" />
                        </label>
                        <label>商品名：
                            <input type="text" class="text input-min goods_title" style="width: 100px;" name="goods_name" disabled="" />
                        </label>
                        <label>申请数量：
                            <input type="text" class="text input-mini g_num" style="width: 100px;" name="g_num" />
                        </label>
                        <input type="hidden" class="text input-min goods_id" name="goods_id" value="0" />
                        <button id="submit" class="btn submit-btn ajax-post hidden" target-form="form-horizontal">加入临时申请表</button>
                        <div class="controls goods_message"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="data-table table-striped">
            <table>
                <thead>
                    <tr>
                        <th>商品id</th>
                        <th>商品名称</th>
                        <th>商品类别</th>
                        <th>商品条码</th>
                        <th>系统售价</th>
                        <th>库存数量</th>
                        <th>申请数量</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="jq-list"></tbody>
            </table>
        </div>
        <form id="jq-form-ship" class="form-horizontal">
            <div class="tab-pane in tab1">
                <div class="form-item cf">
                    <div class="controls goods_div">
                        <label>选择调拨仓库：
                            <select id="jq-select-ship" name="warehouse_id">
                                <option value="">请选择仓库</option>
                            </select>
                        </label>
                        <label>备注：
                            <input type="text" class="text input-min remark" style="width: 200px;" name="remark" />
                        </label>
                        <button id="jq-submit-ship" class="btn submit-btn confirm" target-form="form-horizontal">提交门店发货申请单</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="page">
            {$_page}
        </div>
    </div>
    <script id="temp-select-ship" type="text/html">
        {{each items as list index}}
        <option value="{{list.w_id}}">{{list.w_name}}</option>
        {{/each}}
    </script>
    <script id="temp-list" type="text/html">
        {{each items as list index}}
        <tr>
            <td>{{list.goods_id}}</td>
            <td>{{list.goods_name}}</td>
            <td>{{list.cate_name}}</td>
            <td>{{list.bar_code}}</td>
            <td>{{list.sell_price}}</td>
            <td>{{list.stock_num}}</td>
            <td>{{list.g_num}}</td>
            <td>{{list.ctime}}</td>
            <td>
                <a class="temp-edit" href="javascript:void(0);" data-id="{{list.id}}">编辑</a>
                <a class="temp-del" href="javascript:void(0);" data-id="{{list.id}}">删除</a>
            </td>
        </tr>
        {{/each}}
    </script>
</block>
<block name="script">
    <script type="text/javascript">
    layui.use(['main'], function() {
        var $ = layui.jquery,
            layer = layui.layer;

        $.post('/Erp/StoreRequest/temp', function(res) {
            if (res.code == 200) {
                $('#jq-list').html(template('temp-list', { items: res.content }));
                initEvent();
            } else {
                layer.msg(res.content, {
                    time: 1500
                });
            }
            $('#jq-loading').fadeOut();
            $('#jq-content').fadeIn();
        }, 'json');

        $.get('/Erp/StoreRequest/warehouselist', function(res) {
            if (res.code == 200) {
                $('#jq-select-ship').append(template('temp-select-ship', { items: res.content }));
            } else {
                layer.msg(res.content, {
                    time: 1500
                });
            }
        }, 'json');

        $('#submit').on({
            click: function() {
                var data = $('#form').find('input').serialize();
                $.post('/Erp/StoreRequest/addRequestTemp', data, function(res) {
                    if (res.code == 200) {
                        $('#jq-list').html(template('temp-list', { items: res.content }));
                        $('#form').find('input').val('');
                        initEvent();
                    } else {
                        layer.msg(res.content, {
                            time: 1500
                        });
                    }
                }, 'json');
            }
        });

        function initEvent() {
            $('.temp-del').on({
                click: function() {
                    tempDel($(this));
                }
            });
            $('.temp-edit').on({
                click: function() {
                    tempEdit($(this));
                }
            });
        }
        function tempDel(options) {
            layer.confirm('确认要执行该操作吗?', {
                btn: ['确定', '取消']
            }, function(index) {
                var init = options,
                    aId = init.attr('data-id');
                $.post('/Erp/StoreRequest/singleRequestTempDelete', { 'id': aId }, function(res) {
                    if (res.code == 200) {
                        init.parents('tr').html('');
                        layer.msg(res.content, {
                            time: 1500
                        });
                    } else {
                        layer.msg(res.content, {
                            time: 1500
                        });
                    }
                }, 'json');
                layer.close(index);
            });
        }
        function tempEdit(options) {
            var init = options,
                aId = init.attr('data-id');
            $.get('/Erp/StoreRequest/getSingleRequestTempInfo?id=' + aId, function(res) {
                console.log(res);
                if (res.code == 200) {
                    //$('[name="goods[1][bar_code]"]').val( res.content[0].bar_code );
                    $('[name="goods[1][id_code]"],[name="goods_id"]').val(res.content[0].goods_id);
                    $('[name="goods_name"]').val(res.content[0].goods_name);
                    $('[name="g_num"]').val(res.content[0].g_num);
                    /*layer.msg( res.content, {
                        time: 1500
                    });*/
                }
            }, 'json');
        }

        $('#jq-del').on({
            click: function() {
                if ($('#jq-list').html() != '') {
                    layer.confirm('确认要执行该操作吗?', {
                        btn: ['确定', '取消'],
                        shade: false
                    }, function(index) {
                        $.post('/Erp/StoreRequest/clearRequestTemp', function(res) {
                            if (res.code == 200) {
                                $('#jq-list').html('');
                                layer.msg(res.content, {
                                    time: 1500
                                });
                            } else {
                                layer.msg(res.content, {
                                    time: 1500
                                });
                            }
                        }, 'json');
                        layer.close(index);
                    });
                } else {
                    layer.msg('暂无商品，请先添加商品！', {
                        time: 1500
                    });
                }
            }
        });

        $('#jq-submit-ship').on({
            click: function() {
                var data = $('#jq-form-ship').find('input,select').serialize();
                $.post('/Erp/StoreRequest/submitRequestTemp', data, function(res) {
                    console.log(res);
                    if (res.code == 200) {
                        layer.msg(res.content, {
                            time: 1500
                        });
                        window.location.href = '/Admin/Addons/ex_Warehouse/_addons/Warehouse/_controller/StoreRequest/_action/index.html';
                    } else {
                        layer.msg(res.content, {
                            time: 1500
                        });
                    }
                }, 'json');
                return false;
            }
        });

    });
    </script>
    <script type="text/javascript" src="__STATIC__/artDialog/lib/sea.js"></script>
    <script type="text/javascript">
    highlight_subnav('{:addons_url('
            Warehouse: //AssignmentApplication:/temp')}');

            function get_goods(obj) {
                var bar_code = $(obj).val();
                var goods_title = $(obj).parents('.goods_div').find('.goods_title');
                var goods_id = $(obj).parents('.goods_div').find('.goods_id');
                var id_code = $(obj).parents('.goods_div').find('.id_code');
                var goods_message = $(obj).parents('.goods_div').find('.goods_message');
                var g_num = $(obj).parents('.goods_div').find('.g_num');
                if (bar_code != '') {
                    $.ajax({
                        type: 'get',
                        url: "{:addons_url('Warehouse://AssignmentApplication:/get_one')}",
                        data: { bar_code: bar_code, get_store: 1 },
                        dataType: 'json',
                        success: function(data) {
                            if (data.status == 1) {
                                var l = '<option> - 请先选择分类 - </option>';
                                $.each(data, function(x, y) {
                                    l += '<option value="' + y.id + '">' + y.title + '</option>';
                                });
                                $('[name="goods_id"]').html(l);
                                goods_title.css('color', '#635c73');
                                goods_title.val(data.data.title);
                                goods_id.val(data.data.id);
                                id_code.val('');
                            } else {
                                if (data.status == 2) {
                                    goods_message.css('color', 'red');
                                    goods_message.html('商品已存在,将编辑商品数量');
                                    goods_title.css('color', '#635c73');
                                    goods_title.val(data.data.title);
                                    goods_id.val(data.data.id);
                                    g_num.val(data.data1.g_num);
                                    //goods_id.val(0);
                                } else {
                                    goods_message.css('color', 'red');
                                    goods_message.html('商品不存在');
                                    goods_id.val(0);
                                }
                            }
                        }
                    });
                } else {
                    goods_title.val('');
                    goods_id.val(0);
                }
            }

            /****************************
             * 通过条形码搜索
             **************************/
            $('.tab1').delegate('.bar_code', 'change', function() {
                get_goods(this);
            });

            /******************************
             * 通过ID获取商品信息
             * *******************************/
            function get_goods_id(obj) {
                var id_code = $(obj).val();
                var goods_title = $(obj).parents('.goods_div').find('.goods_title');
                var goods_id = $(obj).parents('.goods_div').find('.goods_id');
                var bar_code = $(obj).parents('.goods_div').find('.bar_code');
                var goods_message = $(obj).parents('.goods_div').find('.goods_message');
                var g_num = $(obj).parents('.goods_div').find('.g_num');
                if (id_code != '') {
                    $.ajax({
                        type: 'get',
                        url: "{:addons_url('Warehouse://AssignmentApplication:/get_one_id')}",
                        data: { id_code: id_code, bar_code: bar_code.val(), get_store: 1 },
                        dataType: 'json',
                        success: function(data) {
                            if (data.status == 1) {
                                var l = '<option> - 请先选择分类 - </option>';
                                $.each(data, function(x, y) {
                                    l += '<option value="' + y.id + '">' + y.title + '</option>';
                                });
                                $('[name="goods_id"]').html(l);
                                goods_title.css('color', '#635c73');
                                goods_title.val(data.data.title);
                                goods_id.val(data.data.id);
                                bar_code.val('');
                                goods_message.html('');
                            } else {
                                if (data.status == 2) {
                                    goods_message.css('color', 'red');
                                    goods_message.html('商品已存在,将编辑商品数量');
                                    goods_title.css('color', '#635c73');
                                    goods_title.val(data.data.title);
                                    goods_id.val(data.data.id);
                                    g_num.val(data.data1.g_num);
                                    //goods_id.val(0);
                                } else {
                                    goods_message.css('color', 'red');
                                    goods_message.html('商品不存在');
                                    goods_id.val(0);
                                }
                            }
                        }
                    });
                } else {
                    goods_title.val('');
                    goods_id.val(0);
                }
            }

            $('.tab1').delegate('.id_code', 'change', function() {
                get_goods_id(this);
            });

            seajs.config({
                alias: {
                    "jquery": "jquery-1.10.2.js"
                }
            }); seajs.use(['__STATIC__/artDialog/src/dialog-plus'], function(dialog) {
                window.dialog = dialog;

                $('#select_product').on('click', function() {
                    var url = "{:addons_url('Warehouse://AssignmentApplication:/get_goods_lists')}";
                    top.dialog({
                        id: 'product_lists',
                        title: '可绑定商品列表',
                        url: url,
                        width: 500,
                        height: 430,
                        //quickClose: true,
                        onclose: function() {
                            var data = this.returnValue;
                            if (data.id) {
                                $('.id_code').val(data.id);
                                get_goods_id($('.id_code'));
                            }
                        },
                    }).showModal();
                });

            });
    </script>
</block>