<extend name="Public/base" />
<block name="body">
    <div id="jq-content" class="site-content">
        <div class="main-title">
            <h2 id="jq-title"></h2>
        </div>
        <div class="search-form fr cf">
            <form id="jq-search-form">
                <div class="sleft">
                    <input type="text" name="goods_name" class="text input-text search-input" placeholder="请输入商品名查找" />
                    <a id="jq-search-btn" class="sch-btn" href="javascript:void(0);"><i class="btn-search"></i></a>
                </div>
            </form>
        </div>
        <a id="jq-download" class="btn" href="javascript:void(0);">导出Excel</a>
        <div class="data-table table-striped">
            <table>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>商品ID</th>
                        <th>商品种类</th>
                        <th>商品名称</th>
                        <th>商品条码</th>
                        <th>门店名称</th>
                        <th>库存数量</th>
                        <th>售价金额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="jq-list"></tbody>
            </table>
        </div>
        <div id="jq-page" class="page"></div>
    </div>
    <script id="temp-list" type="text/html">
        {{each items as list index}}
        <tr data-id="{{list.goods_id}}">
            <td class="temp-id">{{index+1}}</td>
            <td>{{list.goods_id}}</td>
            <td>{{list.cate_name}}</td>
            <td title="{{list.goods_name}}"><a href="{:addons_url('Goods://GoodsInfo:/index')}?id={{list.goods_id}}" target="_blank">
                {{if list.goods_name.length > 19}}
                    {{list.goods_name.slice(0,18) + '...'}}
                {{else}}
                    {{list.goods_name}}
                {{/if}}</a>
            </td>
            <td title="{{list.bar_code}}">
                {{if list.bar_code.length > 14}}
                    {{list.bar_code.slice(0,13) + '...'}}
                {{else}}
                    {{list.bar_code}}
                {{/if}}
            </td>
            <td>{{list.store_name}}</td>
            <td>{{list.stock_num}}</td>
            <td>{{list.g_amounts}}</td>
            <td>
                <a class="temp-in" href="javascript:void(0);">入库记录</a>
                <a class="temp-out" href="javascript:void(0);">出库记录</a>
                {{if list.chaojiroot == 1}}
                     <a class="temp-inoutorders" href="javascript:void(0);">库存流水记录</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
</block>
<block name="script">
    <script type="text/javascript">
    layui.use(['main'], function() {
        var $ = layui.jquery,
            layer = layui.layer;

        var Global = {
           titleUrl: '/Erp/StoreStock/index',
            listUrl: '/Erp/StoreStock/indexgoods',
            fileUrl: '/Erp/StoreStock/exportIndexGoodsListExcel',
            jump: window.location.pathname.match(/(\D*)indexgoods/)[1],
            title: '',
            name: '',
            passId: 'goods_id'
        }
        $("a[href$='" + Global.jump + "index.html']").parent().addClass('layui-this');

        var parameter = window.location.pathname.replace(/\//g,'.').split('.');
        $.each( parameter, function(i,items){
            switch(items){
                case 'goods_name':
                Global.name = decodeURIComponent(parameter[i+1]);
                break;
            }
        });
        var urlFlag = Global.name == '',
              urlId = '',
            urlName = '';
        if( urlFlag ){
            urlId = window.location.pathname.match(/\/(\w+).html/)[1];
            $.getData({
                 url: Global.titleUrl
            }, function(res){
                $.each( res.content,function(i,items){
                    if( items.cate_id == passData.cate_id ){
                        var vTitle = '门店库存 > ' + items.cate_name;
                        $('#jq-title').html( vTitle );
                        Global.title = vTitle;
                    }
                });
            });
        }else{
            urlName = Global.name;
            titleUpdate(urlName);
        }
        function titleUpdate(test){
            var vTitle = '门店库存 > 搜索 > <span class="wrap-empty">' + test + '</span>';
            $('#jq-title').html( vTitle );
        }

        var passData = $.dataJson({
        	cate_id: urlId,
            goods_name: urlName
        }); 
     	delete passData.s_date;
     	delete passData.e_date;
        var data = $.parseJson( passData );
        
        $.getData({
             url: Global.listUrl + '?' + data,
            load: true
        }, function(res){
            dataShow(res);
        });
        function dataShow(res,callback){
            var oDownload = $('#jq-download'),
                    oList = $('#jq-list'),
                    oPage = $('#jq-page');

            oDownload.attr('href','javascript:void(0);').unbind();

            if( res.content.data == null || res.content.data.length == 0 ){
                oList.html('<tr><td class="wrap-empty">暂无内容！</td></tr>');
                oDownload.css('cursor','default');
            }else{
                oList.html(template('temp-list', { items: res.content.data }));
                $.each( res.content.data,function(i,items){
                    var url = Global.jump + 'in_stock_history/'+Global.passId+'/'+items[Global.passId]+'.html',
                        oId = $('[data-id='+items[Global.passId]+']');
                    oId.find('.temp-in').attr('href',url).
                    end().find('.temp-out').attr('href',url.replace('in_stock','out_stock')).
                    end().find('.temp-inoutorders').attr('href',url.replace('StoreStock','StockInoutOrders').replace('in_stock_history','index2'));
//replace('in_stock_history','StockInoutOrders')
                    if( passData.p > 1 && callback == undefined ){
                        var id = parseInt( oId.find('.temp-id').html() ),
                           sum = passData.p * passData.pageSize -  passData.pageSize;
                        oId.find('.temp-id').html( id + sum );
                    }else{
                        oId.find('.temp-id').html( id );
                    }

                });

                var data = $('#jq-search-form').find('input').serialize() + '&cate_id='+passData.cate_id; 
                oDownload.fileDown({
                     url: Global.fileUrl + '?' + data
                }).removeAttr('style');
            }

            if( res.content.recordCount > res.content.pageSize ){
                var total = '<span class="rows">共'+res.content.recordCount+'条记录</span>';
                oPage.html( res.content.pager.replace( /\+/g, '%20' ).replace( new RegExp(Global.listUrl,'g'),Global.jump+'indexgoods' ) + total );
            }else{
                oPage.html( res.content.pager );
            }
        }

        $('#jq-search-btn').off().on({
            click: function() {
                var data = $('#jq-search-form').find('input').serialize() + '&pageSize='+passData.pageSize + '&cate_id='+passData.cate_id; 
                $.getData({
                    url: Global.listUrl + '?' + data
                }, function(res){
                    var test = decodeURIComponent( $('[name="goods_name"]').val() );
                    if( !urlFlag ){
                        titleUpdate( test );
                    }else{
                        if( test != '' ){
                            $('#jq-title').html( Global.title + '> 搜索 > <span class="wrap-empty">' + test + '</span>' );
                        }else{
                            $('#jq-title').html( Global.title );
                        }
                    }
                    dataShow(res,true);
                    window.history.pushState( {},'',Global.jump+'index.html' );
                });
            }
        });
        $(document).keydown(function(e) {
            if (e.which == 13) {
                $('#jq-search-btn').click();
                return false;
            }
        });
    });
    </script>
</block>