<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <div class="cf">
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <form id="search-form" onsubmit="return false;">
            <div class="sleft" style="margin-right:80px;">
                <input type="text" name="uid" class="search-input" value="{:I('uid')}" placeholder="请输入用户ID或手机号">            
                <a class="sch-btn" href="javascript:;" id="search" url="{:addons_url('Wallet://Admin:/index')}"><i class="btn-search"></i></a>
            </div>
            <form>
        </div>
    </div>
    <div style="clear:both;"></div>    
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>用户</th>
                    <th>充值金额</th>
                    <th>总提现金额</th>
                    <th>可提现金额</th>
                    <th>锁定金额</th>
                    <th>冻结金额</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="lv" key="vo">
                <tr>
                    <td>{$lv.uid|get_nickname}</td>
                    <td>{$lv.recharge_money}</td>
                    <td>{$lv.all_money}</td>
                    <td>{$lv.money}</td>
                    <td>{$lv.lock_money}</td>
                    <td>{$lv.frozen_money}</td>
                    <td>
                        <a class="update" href="{:addons_url('Wallet://Admin:/save?id='.$lv['id'])}" data-id="{$lv.id}">查看</a>
                        <a class="update" href="{:addons_url('Wallet://Admin:/log?uid='.$lv['uid'])}" data-id="{$lv.uid}">消费记录</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function() {
            highlight_subnav('{:addons_url('Wallet://Admin:/index')}');
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });
        })
        
        $("#search").click(function () {
            var url = $(this).attr('url');
            var status = $("#sch-sort-txt").attr("data");
            var query = $('#search-form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            /*
            if (status != '') {
                query = 'status=' + status + "&" + query;
            }
            */
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });        
        
        
    </script>
</block>
