<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <div class="cf">
        <a href="{:U('ActPrizeAdmin/config')}" class="btn">活动配置</a>
        <a href="{:U('ActPrizeAdmin/prize_config')}" class="btn">奖项配置及机率统计</a>
        <a href="{:U('ActPrizeAdmin/prize_day')}" class="btn">每日排名</a>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">

        </div>
    </div>
    <div style="padding:10px 0;">
        <table style="border:2px solid #f86442;text-align:center;">
            <tr>
                <td style="color:#fff;width:100px;background:#f86442;text-align:center;">活动状态</td><td style="width:150px;">
                <?php if ($is_open) { echo '开启';} else { echo '关闭'; }?>
            </td>
                <td style="height:25px;color:#fff;width:100px;background:#f86442;text-align:center;">充值总额</td><td style="width:150px;"><?php echo $zinfo['recharge_money']?></td>
                <td style="color:#fff;width:100px;background:#f86442;text-align:center;">赠送总额</td><td style="width:150px;"><?php echo $zinfo['give_money']?></td>
                <td style="color:#fff;width:200px;background:#f86442;text-align:center;">参与人数(员工数)</td><td style="width:150px;"><?php echo $zinfo['user_count']?>(<?php echo $zinfo['work_count']?>)</td>
                <td style="color:#fff;width:100px;background:#f86442;text-align:center;">充值次数</td><td style="width:150px;"><?php echo $zinfo['prize_count']?></td>
                <td style="color:#fff;width:100px;background:#f86442;text-align:center;">抽奖次数</td><td style="width:150px;"><?php echo $zinfo['all_count']?></td>
            </tr>
        </table>
    </div>

    <div style="clear:both;"></div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th style="width:50px;">编号</th>
                <th style="width:50px;">用户ID</th>
                <th style="width:150px;">用户</th>
                <th style="width:100px;">单号</th>
                <th style="width:100px;">充值金额</th>
                <th style="width:100px;">中奖金额</th>
                <th style="width:100px;">方式</th>
                <th style="width:100px;">次数</th>
                <th style="width:300px;">时间</th>
                <th style="width:50px;">查看</th>
            </tr>
            </thead>
            <tbody>
            <empty name="list">
                <tr>
                    <td colspan="8" class="text-center"> 没有数据~</td>
                </tr>
                <else/>
                <volist name="list" id="lv" key="vo">
                    <tr>
                        <td>{$vo}</td>
                        <td>{$lv.uid}</td>
                        <td>{$lv.uid|get_nickname}</td>
                        <td>{$lv.order_sn}</td>
                        <td>{$lv.rmoney}</td>
                        <td>{$lv.money}</td>
                        <td>
                            <?php
                                if ($lv['type'] == 1) {
                                    echo '微信';
                                } else if($lv['type'] == 2) {
                                    echo '支付宝';
                                } else {
                                    echo '未知';
                                }
                                ?>

                        </td>
                        <td>{$lv.num}</td>
                        <td><?php echo date('Y-m-d H:i:s', $lv['create_time']);?></td>
                        <td>
                            <a href="{:U('ActPrizeAdmin/logs_prize?id='.$lv['id'])}">详情</a>
                        </td>
                    </tr>
                </volist>
            </empty>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function() {
            highlight_subnav("{:U('/Admin/ActPrizeAdmin')}");
            //全选节点
            $('.check-all').on('change', function() {
                $('.ids').prop('checked', this.checked);
            });//搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var status = $("#sch-sort-txt").attr("data");
                var query = $('#search-form').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (status != '') {
                    query = 'status=' + status + "&" + query;
                }
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });


            $("#download").click(function(){
                var url = $(this).attr('url');
                var uid = $(':input[name=uid]').val();
                var start_time = $(':input[name=start_time]').val();
                var end_time = $(':input[name=end_time]').val();
                url = url +'?uid=' + uid  + '&start_time=' + start_time + '&end_time=' + end_time;
                window.location.href = url;
            })



            /* 状态搜索子菜单 */
            $(".search-form").find(".drop-down").hover(function () {
                $("#sub-sch-menu").removeClass("hidden");
            }, function () {
                $("#sub-sch-menu").addClass("hidden");
            });
            $("#sub-sch-menu li").find("a").each(function () {
                $(this).click(function () {
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
                    $("#sub-sch-menu").addClass("hidden");
                })
            });

            var _T;
            $('#select-form input').change(function(){
                clearTimeout(_T);
                _T = setTimeout(function(){
                    $("#search").click();
                }, 1000);
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });

        })
    </script>
</block>    
    