<extend name="Base/common"/>
<block name="body">
    该二维码载满祝福，
    <button type="button" onclick="play()">点击播放》》》</button><br><br><br><br>
    
        <audio controls="controls">
          <source src="http://v.imzhaike.com/Wap/TestApi/test_voice/a/b.amr" type="audio/ogg">
          <source src="http://www.w3school.com.cn/i/song.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>

        
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <button type="button" onclick="recordId()">test</button>
    
</block>
<block name="script">
    <script type="text/javascript">
    
    


   
    
    
    </script>
</block>
