<extend name="Public/base" />

<block name="body">
<div class="site-search">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <!-- 高级搜索 -->
    <div class="search-form fr cf">
        <form id="search-form" onsubmit="return false;">
            <div class="search-form fr cf">
                <label id="msg" name="msg"></label>
                <div class="fl layui-form">
                    <div class="layui-input-inline">
                        <input type="text" name="goods_name" value="{$goods_name}" placeholder="请输入商品名" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <select name="select_warehouse_id" lay-filter="aihao" lay-search>
                            <option value="">请选择仓库</option>
                            <volist name="warehouse" id="l1">
                                <option value="{$l1.w_id}" <?php if($warehouse_id == $l1['w_id']){ echo('selected'); } ?>>{$l1.w_name}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="select_store_id" lay-filter="aihao" lay-search>
                            <option value="">请选择门店</option>
                            <volist name="store" id="l2">
                                <option value="{$l2.id}" <?php if($store_id == $l2['id']){ echo('selected'); } ?>>{$l2.title}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="select_supply_id" lay-filter="aihao" lay-search>
                            <?php if($lv0['supply_id'] == ''){ echo('<option value="" selected>请选择供应商</option>'); } ?>
                            <volist name="supply" id="l2">
                                <option value="{$l2.s_id}" <?php if($supply_id == $l2['s_id']){ echo('selected'); } ?>>{$l2.s_name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="sleft">
                    <input type="text" name="s_date" class="text input-text search-input time" value="{$s_date}" placeholder="请选择开始日期" />
                    <input type="text" name="e_date" class="text input-text search-input time" value="{$e_date}" placeholder="请选择结束日期" />
                    <a class="sch-btn" href="javascript:;" id="search" url="{:addons_url('Purchase://PurchaseOut:/index')}?v={$v}"><i class="btn-search"></i></a>
                </div>
            </div>
        </form>
    </div>
    <a class="btn" href="{:addons_url('Purchase://PurchaseOut:/index')}?isprint=1&s_date={$s_date}&e_date={$e_date}&goods_name={$goods_name}&select_store_id={$store_id}&select_warehouse_id={$warehouse_id}&select_supply_id={$supply_id}">导出Excel</a>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>采购退货单号</th>
                    <th>退货日期</th>
                    <th>退货种类</th>
                    <th>退货数量</th>
                    <th>管理员</th>
                    <th>收货仓库/门店</th>
                    <th>供应商</th>
                    <th>售价金额</th>
                    <th>报价金额</th>
                    <th>单据状态</th>
                    <th>关联采购单</th>
                    <th>备注</th>
                    <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <?php $i=0; ?>
            <volist name="list" id="lv" key="vo">
                <tr>
                    <?php $i++; ?>
                    <td>{$i}</td>
                    <td>{$lv.p_o_sn}</td>
                    <td>{$lv.ctime}</td>
                    <td>{$lv.g_type}</td>
                    <td>{$lv.g_nums}</td>
                    <td>{$lv.nickname}</td>
                    <td>{$lv.w_name}/{$lv.store_name}</td>
                    <td>{$lv.s_name}</td>
                    <td>{$lv.g_amounts}</td>
                    <td>{$lv.g_s_amounts}</td>
                    <td>
                    <?php
                    switch ($lv['p_o_status'])
                    {
                    case 0:
                      echo "新增";
                        if($lv['nickname'] != ''){
                            echo '/' .$lv['nickname'];
                        }
                      break;
                    case 1:
                        echo '<font color="blue">已审核</font>';
                            if($lv['pnickname'] != ''){
                                echo '/' .$lv['pnickname'];
                            }
                            break;
                        case 2:
                          echo '<font color="red">已作废</font>';
                            if($lv['pnickname'] != ''){
                                echo '/' .$lv['pnickname'];
                            }
                          break;
                        default:
                            echo('其它');
                            break;
                    }
                    ?>
                    </td>
                    <td>{$lv.p_sn}</td>
                    <td>{$lv.remark|subtext=18}</td>
                    <td>
                        <?php
                    switch ($lv['p_o_status'])
                    {
                    case 0:
                        ?>
                            【<a class="" href="{:addons_url('Purchase://PurchaseOut:/view?id='.$lv['p_o_id'])}" data-id="{$lv.id}">查看</a>】 |
                            【<a class="jq-confirm" href="{:addons_url('Purchase://PurchaseOut:/pass')}?id={$lv['p_o_id']}&pass=1" data-id="{$lv.id}">审核</a>】
                        <?php
                      break;
                    case 1:
                        ?>
                            【<a class="" href="{:addons_url('Purchase://PurchaseOut:/view?id='.$lv['p_o_id'])}" data-id="{$lv.id}">查看</a>】 |
                             <font color="blue">已审核</font>
                        <?php
                            break;
                        case 2:
                        ?>
                            【<a class="" href="{:addons_url('Purchase://PurchaseOut:/view?id='.$lv['p_o_id'])}" data-id="{$lv.id}">查看</a>】 |
                            <font color="red">已作废</font>
                        <?php
                            break;
                        default:
                            echo('其它');
                            break;
                        }
                        ?>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</div>
</block>
<block name="script">
<script type="text/javascript">
    layui.use(['main','form'], function() {
        var $ = layui.jquery,
         form = layui.form;
    });
</script>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    highlight_subnav('{:addons_url('Purchase://PurchaseOut:/index')}');
        //搜索功能
            $('.search-form input').focus(function(){
                $(document).keypress(function (e) {
                    // 回车键事件
                    if (e.which == 13) {
                        $("#search").click();
                    }
                });
            });
    $("#search").click(function() {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        var query2 = $('#select-form').serialize();
        if (url.indexOf('?') > 0) {
            url += '&' + query2;
        } else {
            url += '?' + query2;
        }
        window.location.href = url;
    });

    // 状态搜索子菜单
    $(".search-form").find(".drop-down").hover(function() {
        $("#sub-sch-menu").removeClass("hidden");
    }, function() {
        $("#sub-sch-menu").addClass("hidden");
    });
    $("#sub-sch-menu li").find("a").each(function() {
        $(this).click(function() {
            var text = $(this).text();
            $("#sch-sort-txt").text(text).attr("data", $(this).attr("value"));
            $("#sub-sch-menu").addClass("hidden");
        })
    });
    var _T;
    $('#select-form input').change(function(){
        clearTimeout(_T);
        _T = setTimeout(function(){
            $("#search").click();
        }, 1000);
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd',
        language: "zh-CN",
        minView: 2,
        autoclose: true
    });
</script>
</block>
<!--<div class="fl">
    <select name="select_store_id" style="border-color:#eee;margin-right:10px;">
        <option value="0" selected>请选择门店</option>
        <volist name="store" id="l2">
            <option value="{$l2.id}" <?php if($store_id == $l2['id']){ echo('selected'); } ?>>{$l2.title}</option>
        </volist>
    </select>
    <select name="select_warehouse_id" style="border-color:#eee;margin-right:10px;">
        <option value="0" selected>请选择仓库</option>
        <volist name="warehouse" id="l1">
            <option value="{$l1.w_id}" <?php if($warehouse_id == $l1['w_id']){ echo('selected'); } ?>>{$l1.w_name}</option>
        </volist>
    </select>
    <select name="select_supply_id" style="border-color:#eee;margin-right:10px;">
        <?php if($lv0['supply_id'] == ''){ echo('<option value="0" selected>请选择供应商</option>'); } ?>
        <volist name="supply" id="l2">
            <option value="{$l2.s_id}" <?php if($supply_id == $l2['s_id']){ echo('selected'); } ?>>{$l2.s_name}</option>
        </volist>
    </select>
    <input type="text" name="goods_name" class="text input-text search-input" value="{$goods_name}" placeholder="商品名" />
</div>-->
