<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <a class="btn" href="{:addons_url('Purchase://PurchaseOut:/view')}?id={$id}&isprint=1">导出Excel</a>
    <!-- 数据列表 -->
    <form id="form" action="{:addons_url('Purchase://PurchaseOut:/update')}" method="post" class="form-horizontal">
        <div class="tab-pane in tab1">
            <div class="form-item cf">
                <div class="controls goods_div">
                    <label>退货单号：{$list.p_o_sn}</label>
                    <label>创建日期：{$list.ctime}</label>
                    <label>退货种类：{$list.g_type}</label>
                    <label>退货数量：{$list.g_nums}</label>
                    <label>售价金额：{$list.g_amounts}</label>
                    <label>报价金额：{$list.g_s_amounts}</label>
                </div>
                <div class="controls goods_div1">
                    <label>管理员：{$list.nickname}</label>
                    <label>收货仓库/门店：{$list.w_name}/{$list.store_name}</label>
                    <label>供应商：{$list.s_name}</label>
                </div>
                <?php if($list['pnickname'] != ''){ ?>
                <div class="controls goods_div2">
                    <label>审核人：{$list.pnickname}</label>
                    <label>审核时间：{$list.ptime}</label>
                </div>
                <?php } ?>
                <div class="controls goods_div3">
                    <label>单据状态：
                        <?php
                        switch ($list['p_o_status'])
                        {
                        case 0:
                          echo '<font color="black">新增/验收单号：' .$list['w_in_sn'] .'/采购单号：' .$list['p_sn'] .'</font>';
                        break;
                        case 1:
                        echo '<font color="blue">已审核/验收单号：' .$list['w_in_sn'] .'/采购单号：' .$list['p_sn'] .'</font>';
                        break;
                        default:
                        echo "其它";
                        }
                        ?></label>
                </div>
                <div class="controls goods_div4">
                    <label>备注：{$list.remark}</label>
                </div>
            </div>
        </div>
        <!-- 数据列表 -->
        <div class="data-table table-striped">
            <table>
                <thead>
                <tr>
                    <th>商品id</th>
                    <th>商品名称</th>
                    <th>商品类别</th>
                    <th>商品属性</th>
                    <th>商品条码</th>
                    <th>验收单号</th>
                    <th>退货来源</th>
                    <th>申请人</th>
                    <th>系统售价</th>
                    <th>上次采购价</th>
                    <th>供应商报价</th>
                    <th>库存数量</th>
                    <th>采购数量</th>
                    <th>入库数量</th>
                    <th>退货数量</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <volist name="data" id="lv" key="vo">
                    <tr>
                        <td>{$lv.goods_id}</td>
                        <td title="{$lv.goods_name}"><a href="{:addons_url('Goods://GoodsInfo:/index')}?id={$lv.goods_id}" target="_blank">{$lv.goods_name|subtext=18}</a></td>
                        <td>{$lv.cate_name}</td>
                        <td>{$lv.value_name}</td>
                        <td title="{$lv.bar_code}">{$lv.bar_code|subtext=14}</td>
                        <td>{$lv.w_in_sn}</td>
                        <td>{$lv.w_name}/{$lv.store_name}</td>
                        <td>{$lv.nickname}</td>
                        <td>{$lv.sell_price}</td>
                        <td>{$lv.last_price}</td>
                        <td>{$lv.p_price}</td>
                        <td>{$lv.stock_num}</td>
                        <td>{$lv.p_num}</td>
                        <td><?php if($lv['in_num'] != 0){ ?>{$lv.in_num}<?php }else{ ?>{$lv.in_num1}<?php } ?></td>
                        <td><?php if($lv['out_num'] != 0){ ?>{$lv.out_num}<?php }else{ ?>{$lv.out_num1}<?php } ?></td>
                        <td><?php if($lv['remark1'] != ''){ ?>{$lv.remark1}<?php }else{ ?>{$lv.remark2}<?php } ?></td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="12">
                        <?php
                            echo '采购退货单不能修改';
                            ?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var Global = {
            jump: window.location.pathname.match(/(\D*)view/)[1],
        }
        $("a[href$='" + Global.jump + "index.html']").parent().addClass('layui-this');
    </script>
</block>
